= simple_form_for [:admin, model] do |f|
  .card-body
    .row
      .col-md-6
        = f.input :name
      .col-md-6
        = f.input :max_number_of_participants
    - if model.teams.any?
      .mb-3
        = f.label :singleplayer, label: _('Tournament|Participant type')
        %br
        .text-muted= model.singleplayer? ? _('Tournament|Singleplayer participants') : _('Tournament|Team participants')
    - else
      = f.input :singleplayer, as: :radio_buttons,
                              label: _('Tournament|Participant type'),
                              collection: [[_('Tournament|Team participants'), false], [_('Tournament|Singleplayer participants'), true]],
                              input_html: { class: 'no-validation' }
    = f.input :team_size, disabled: model.teams.any?

    .row
      .col-md-6
        = f.input :status, collection: Tournament::statuses, include_blank: false
      .col-md-6
        = f.input :lan_party_id, collection: LanParty.order(:name), include_blank: _('Form|Select|Blank')


    -# -- Files inputs -------------------------------------------------------------
    = f.input :files, input_html: { multiple: true }

    -# -- Attached files -----------------------------------------------------------
    - if model.files.attached? && model.persisted?
      %hr
      %table.table.table-hover.mb-0
        %tr
          %th= _('Tournament|File|Name')
          %th= _('Tournament|File|Size')
          %th
        - model.files.each do |file|
          %tr
            %td= link_to file.filename, rails_blob_path(file, disposition: "inline"), target: :_blank
            %td= number_to_human_size(file.blob.byte_size)
            %td
              .form-check
                = f.check_box :remove_files, { multiple: true }, file.id, nil
                = f.label :remove_files, _('Tournament|Remove this file'), for: "tournament_remove_files_#{file.id}"

    -# -- Description input --------------------------------------------------------
    = f.markdown :description, preview_url: admin_markdown_preview_path
  .card-footer
    = f.save
