- content_for :header_buttons do
  = new_button Tournament, namespace: %i[admin]

.card
  .card-body
    = simple_form_for op.grid, url: admin_tournaments_path, method: :get do |f|
      .d-flex.mb-3
        .select.optional.me-2
          = f.datagrid_filter :status, class: 'form-select rounded-0 select optional'
        .select.optional.me-2
          = f.datagrid_filter :lan_party, class: 'form-select rounded-0 select optional'
        %div
          = f.save _('Apply filter')
          = button _('Search|Reset'), admin_tournaments_path, color: :secondary
    = datagrid_table op.grid, html: { class: 'table' }
