- content_for :header_buttons do
  .d-flex.gap-1.flex-wrap
    = link_to disputed_matches_admin_tournaments_path, class: %i[btn btn-primary] do
      = _('Admin|Tournaments|Disputed matches')
      .badge.bg-secondary
        = op.disputed_match_count
    - if can?(:create, Tournament)
      = new_button Tournament, namespace: %i[admin]

.card
  .card-body
    = simple_form_for op.grid, url: admin_tournaments_path, method: :get do |f|
      .row.mb-3
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :status
          = f.datagrid_filter :status, class: 'form-select rounded-0 select optional'
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :lan_party
          = f.datagrid_filter :lan_party, class: 'form-select rounded-0 select optional'
        .d-flex.align-items-end.gap-1.col-xl-3.col-md-6.col-12.mb-2
          = f.save _('Apply filter')
          = button _('Search|Reset'), admin_tournaments_path, color: :secondary
    = datagrid_table op.grid, html: { class: 'table' }
