- content_for :header_buttons do
  = edit_button model, namespace: %i[admin]

.row
  .col-md-6.mb-4.mb-md-0
    .card.mb-4
      .card-header
        = model.name
      .card-body
        .mb-2
          = _('Tournament|Status')
          .small.text-muted= model.status
        .mb-2
          = _('Tournament|Max number of participants')
          .small.text-muted= model.max_number_of_participants
        .mb-2
          = _('Tournament|Participant type')
          .small.text-muted= model.singleplayer? ? _('Tournament|Singleplayer participants') : _('Tournament|Team participants')
        .mb-2
          = _('Tournament|Team size')
          .small.text-muted= model.team_size

    .card.mb-4
      .card-header.d-flex.justify-content-between.align-items-center
        = _('Tournament|Structure')
        - if model.another_phase_possible?
          = new_button Tournament::Phase, href: new_admin_tournament_phase_path(model), size: :sm, icon_only: true, color: :light
        - else
          = button nil, nil, size: :sm, icon_only: true, color: :light, btn_icon: %i[fas fa-ban], disabled: true
      .card-body
        - if model.phases.any?
          - model.phases.order(:phase_number).each_with_index do |phase, idx|
            .d-flex.justify-content-between.align-items-center.py-1{ class: ('border-top' unless idx == 0) }
              %div
                = phase.phase_number
                \.
                = phase.name
                .small.text-muted
                  = phase.tournament_mode
                  \|
                  = phase.status
              %div
                = show_button phase, size: :sm, icon_only: true, href: admin_phase_path(phase)
                = edit_button phase, size: :sm, icon_only: true, href: edit_admin_phase_path(phase)
                = delete_button phase, size: :sm, icon_only: true, href: admin_phase_path(phase), disabled: !phase.deletable?
        - else
          = _('Tournament|No phases')
    .card.mb-0.mb-md-4
      .card-header
        = _('Tournament|Files')
      .card-body.p-0
        %table.table.table-hover.mb-0
          - if model.files.any?
            - model.files.each do |file|
              %tr
                %td.ps-3= link_to file.filename, rails_blob_path(file, disposition: "inline"), target: :_blank
                %td= number_to_human_size(file.blob.byte_size)
          - else
            %tr
              %td.ps-3= _('Tournament|No files')

  .col-md-6
    = render partial: 'participants'

