.row
  .col-md-6.mb-4.mb-md-0
    .card.mb-4
      .card-header
        = model.name
      .card-body
        TODO: General infos

    .card
      .card-header.d-flex.justify-content-between.align-items-center
        = _('Tournament|Structure')
        = new_button Tournament::Phase, href: new_admin_tournament_phase_path(model), size: :sm, icon_only: true, color: :light
      .card-body
        - model.phases.order(:phase_number).each_with_index do |phase, idx|
          .d-flex.justify-content-between.align-items-center.py-1{ class: ('border-top' unless idx == 0) }
            %div
              = phase.phase_number
              \.
              = phase.name
              .small.text-muted
                = phase.tournament_mode
                \|
                = phase.status
            %div
              = show_button phase, size: :sm, icon_only: true, href: admin_phase_path(phase)
              = edit_button phase, size: :sm, icon_only: true, href: edit_admin_phase_path(phase)

  .col-md-6
    .card
      .card-header.d-flex.justify-content-between.align-items-center
        = _('Tournament|Participants')
        = new_button Tournament::Team, href: new_admin_tournament_team_path(model), size: :sm, icon_only: true, color: :light
      .card-body
        = _('Tournament|%{participants} participants') % { participants: model.teams.count }
        %hr
        - model.teams.order(:name).each do |team|
          .d-flex.justify-content-between.align-items-center.py-1{ class: ('border-top' unless team == model.teams.order(:name).first) }
            %div
              = team.name
              .small.text-muted= team.status
            %div
              - if team.created?
                = button nil, register_for_tournament_admin_team_path(team), icon_only: true,
                                                                             btn_icon: %i[fas fa-plus],
                                                                             size: :sm,
                                                                             method: :post,
                                                                             color: :success,
                                                                             html: { title: _('Admin|Teams|Register for tournament'), data: { 'bs-toggle' => :tooltip } }
              - elsif team.registered?
                = button nil, unregister_from_tournament_admin_team_path(team), icon_only: true,
                                                                                btn_icon: %i[fas fa-minus],
                                                                                size: :sm,
                                                                                method: :post,
                                                                                color: :danger,
                                                                                html: { title: _('Admin|Teams|Unregister from tournament'), data: { 'bs-toggle' => :tooltip } }
              = edit_button team, size: :sm, icon_only: true, href: edit_admin_team_path(team)

