.card
  = simple_form_for model, url: admin_page_path(model) do |f|
    .card-body
      .row
        .col-md-6
          - if model.is_a? ContentPage
            = f.input :title
          - else
            = f.input :redirects_to
        .col-md-6
          = f.input :url, hint: _('Page|Url may only contain: [a-z 0-9 - _] and needs to start with a letter')
      - if model.is_a? ContentPage
        .row
          .col-md-6
            = f.input :published, as: :select, include_blank: false
          .col-md-6
            = f.input :use_sidebar, as: :select, include_blank: false
        = f.markdown :content, preview_url: admin_markdown_preview_path
    .card-footer
      = f.save
