%h3= _('Session|Log in')

= simple_form_for :login do |f|
  = f.input :email, label: _('User|Email')
  = f.input :password, label: _('User|Password')
  = f.input :remember_me, as: :boolean, label: _('Session|Remember me')

  = link_to _('Session|Forgot password'), request_password_reset_path  

  = f.save _('Session|Log in')