%h3= _('PasswordResetRequest|Reset your password')

= simple_form_for model, url: reset_password_path(email: params[:email], token: params[:token]) do |f|
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  = f.save _('User|Update password')