-# Local variables:
-# * grid - instance of Datagrid
-# * assets - Array of database Entities
-# * options - passed options Hash

- if grid.html_columns(*options[:columns]).any?
  .table-responsive
    %table.datagrid.table-striped.table-hover{**options[:html]}
      %thead
        = datagrid_header grid, options
      %tbody
        - if assets.any?
          = datagrid_rows grid, assets, **options
        - else
          %tr
            %td.noresults{colspan: '100%'}
              = _('Datagrid|No results')
      %tfoot
        %tr
          %td.px-0.py-2
            = paginate grid.assets, theme: 'bootstrap'
          %td.px-0.py-2.table-info-box{colspan: '100%'}
            - entry_name = grid.assets.size > 1 ? _('Kaminari|Entries') : _('Kaminari|Entry')
            = page_entries_info grid.assets, entry_name: entry_name
- else
  = _('Datagrid|No columns')
