= simple_form_for [:admin, model] do |f|
  .card-body
    = f.input :title
    = f.input :location
    = f.label :published
    = f.input :published, input_html: { class: 'no-validation' }
    = f.markdown :description, preview_url: preview_markdown_admin_news_posts_path
    #event_dates{data: { controller: 'cocoon' }}
      = f.label :event_dates
      = f.error :event_dates, class: 'invalid-feedback d-block'
      = f.simple_fields_for :event_dates do |event_date|
        = render 'event_date_fields', f: event_date
      .links
        = link_to_add_association f, :event_dates, class: 'btn btn-primary', data: { action: 'click->cocoon#addRow' } do
          = icon %i[fa fa-plus]
          =_('Event|Add event date')
  .card-footer
    = f.save