- provide :page_title, _('Admin|Events')

= new_button Event, namespace: %i[admin]

%hr

%table{class: 'table table-striped'}
  %tr
    %th= _('Event|Title')
    %th= _('Event|Start date')
    %th= _('Event|Start time')
    %th= _('Event|End date')
    %th= _('Event|End time')
    %th
  - op.events.each do |e|
    %tr
      %td= e.title
      %td= e.next_date.start_date || '-'
      %td= e.next_date.start_time || '-'
      %td= e.next_date.end_date || '-'
      %td= e.next_date.end_time || '-'
      %td.tar
        = edit_button e, namespace: %i[admin], size: :sm, icon_only: true
        = delete_button e, namespace: %i[admin], size: :sm, icon_only: true