.card
  .card-body
    .row.pb-3.mb-2
      .col-md-4
        .text-muted= _('Order|Created at')
        = l(model.created_at, format: :long)
      .col-md-4
        .text-muted= _('Order|Order items count')
        = model.order_items.count
      .col-md-4
        .text-muted= _('Order|User')
        = model.user.username
    .row.border-bottom.pb-3.mb-2
      .col-md-4
        .text-muted= _('Order|Shipping address')
        = "#{model.billing_address_first_name} #{model.billing_address_last_name}"
        %br
        = model.billing_address_street
        %br
        = "#{model.billing_address_zip_code} #{model.billing_address_city}"
      .col-md-4
        .text-muted= _('Order|Payment gateway name')
        = model.payment_gateway_name
      .col-md-4
        .text-muted= _('Order|Payment gateway payment id')
        = model.payment_gateway_payment_id.presence || '-'

    .my-3= _('Order|Order items')
    %table.table.table-bordered
      %tr
        %th= _('OrderItem|Item')
        %th= _('OrderItem|Quantity')
        %th= _('OrderItem|Price')
        %th= _('OrderItem|Total')
      - model.order_items.each do |order_item|
        %tr
          %td= order_item.product_name
          %td= order_item.quantity
          %td= money_formatted order_item.price
          %td= money_formatted order_item.total
      - model.promotion_code_mappings.each do |code_matching|
        %tr
          %td{ colspan: 3 }= "#{_('Order|PromotionCode')} #{code_matching.promotion_code.promotion.name}"
          %td.text-success= money_formatted(-code_matching.applied_reduction)
      %tr.border-top
        %td{ colspan: 3 }= _('Order|Total')
        %td= money_formatted(model.total)
    .border-top.pt-3
      - if model.delayed_payment_pending?
        = delete_button model, href: cancel_delayed_payment_pending_admin_shop_order_path(model)
      - elsif model.paid?
        = button _('Admin|Order|Cannot delete paid order'), nil, disabled: true, color: :danger
      - elsif model.expired?
        = delete_button model, namespace: %i[admin shop]
      - else
        = button _('Admin|Order|Cannot delete active order'), nil, disabled: true, color: :danger
