:ruby
  if model.new_record?
    url = [:admin, model]
  else
    url = admin_team_path(model)
  end

= simple_form_for model, url: url, wrapper: :input_group do |f|
  .card-body
    .row
      .col-md-6
        = f.input :name
      .col-md-6
        = f.association :tournament_team_rank, as: :select, collection: op.ranks, include_blank: _('Form|Select|Blank')
    - if model.new_record?
      = f.password :password
    - else
      = f.password :password, placeholder: _('TournamentTeam|Password|Leave blank to leave')
  .card-footer
    = f.save
