%h1= _('UserMailer|ConfirmSignup|Title')

%p
  = _('UserMailer|ConfirmSignup|Greeting %{username}') % { username: @user.username }

%p
  - activation_url = activate_users_url(activation_token: @user.activation_token, email: @user.email)
  = _('UserMailer|ConfirmSignup|Click following link to activate')
  = link_to(_('UserMailer|ConfirmSignup|Link'), activation_url)
%p
  = _('UserMailer|ConfirmSignup|Copy url below')
  %br
  = activation_url
