%h1= _('UserMailer|PasswordResetRequest|Title')

%p
  = _('UserMailer|PasswordResetRequest|Greeting %{username}') % { username: @user.username }

%p
  - reset_url =  reset_password_url(token: @token, email: @user.email)
  = _('UserMailer|PasswordResetRequest|Click following link to reset your password')
  = link_to(_('UserMailer|PasswordResetRequest|Link'), reset_url)
%p
  = _('UserMailer|PasswordResetRequest|Copy url below')
  %br
  = reset_url
%p
  = _('UserMailer|PasswordResetRequest|End of mail hint')

