- if model.captain?(current_user)
  -# Case: Captain
  - if model.created?
    .d-grid.gap-2
      = button _('Tournament|Participate in tournament'),
              register_for_tournament_tournament_team_path(model),
              method: :post
      = button _('Tournament|Delete team'),
              model,
              color: :danger,
              confirm: _('Tournament|Leave tournament?'),
              tag: :button,
              html: { method: :delete },
              classes: 'w-100'
    %hr
    -# Display form to change the name & password of the form
    = simple_form_for model, wrapper: :input_group do |f|
      = f.input :name
      = f.password :password, placeholder: _('TournamentTeam|Password|Leave blank to leave')
      - if model.tournament.teams_need_rank?
        = f.association :tournament_team_rank, as: :select, collection: model.tournament.tournament_team_ranks.order(:sort), include_blank: _('Form|Select|Blank')
      = f.save class: %i[w-100]

  - elsif model.registered?
    .d-grid.gap-2
      = button _('Tournament|Remove team from tournament'),
              unregister_from_tournament_tournament_team_path(model),
              method: :post
  - else
    = _('Team|No actions possible')
- else
  -# Case: Normal teammember with correct state
  - if model.created?
    = button _('Tournament|Leave team'),
            op.user_team_membership,
            color: :danger,
            confirm: _('Tournament|Leave team?'),
            tag: :button,
            html: { method: :delete },
            classes: 'w-100'
  - else
    = _('Team|No actions possible')