%h1.mb-3
  = link_to op.tournament.name, op.tournament
  \-
  =  _('Tournament|Teams')

.row
  .col-md-8
    .card
      .card-header
        = _('Tournament|Tournament Teams')
      .card-body.p-0
        %table.table.table-striped.table-hover.mb-0
          - if op.teams.none?
            %tr
              %td= _('Tournament|No teams')
          - op.teams.includes(:users).each do |team|
            %tr
              %td
                = link_to team.name, team
                - unless op.tournament.singleplayer?
                  %small.d-block.text-muted.text-small
                    = team.users.to_a.sort_by(&:username).map(&:username).join(', ')
              %td= team.status

  .col-md-4
    = render partial: 'tournaments/actions_sidebar', locals: { tournament: op.tournament, op: op }

