%h1.mb-3= op.tournament.name

.row
  .col-md-12
    .card.mb-3
      .card-body
        %ul.nav.nav-pills
          %li.nav-item
            = link_to _('Tournament|Info'), tournament_path(op.tournament), class: 'nav-link'
          %li.nav-item
            %a.nav-link.active{ href: '#' }= _('Tournament|Teams')
          %li.nav-item
            = link_to _('Tournament|Standings'), tournament_standings_path(op.tournament), class: 'nav-link'
  .col-md-8
    .card
      .card-header
        = _('Tournament|Tournament Teams')
      .card-body.p-0
        %table.table.table-hover.mb-0
          %tr
            %th= _('TournamentTeam|Name')
            - if op.tournament.teams_need_rank?
              %th= _('TournamentTeam|Rank')
            %th= _('TournamentTeam|Status')
          - if op.teams.none?
            %tr
              %td= _('Tournament|No teams')
          - op.teams.includes(:users).each do |team|
            %tr
              %td
                = link_to team.name, team_path(team)
                - unless op.tournament.singleplayer?
                  %small.d-block.text-muted.text-small
                    = team.users.to_a.sort_by(&:username).map(&:username).join(', ')
              - if op.tournament.teams_need_rank?
                %td= team.tournament_team_rank&.name
              %td= team.humanized_status

  .col-md-4
    = render partial: 'tournaments/actions_sidebar', locals: { tournament: op.tournament, op: op }

