%h1.mb-3
  = link_to model.tournament.name, model.tournament
  \-
  = link_to _('Tournament|Teams'), tournament_teams_path(model.tournament)
  \-
  = model.name

.row
  .col-md-8
    .card
      .card-header
        = _('TournamentTeam|Team details')
      .card-body
        - if model.tournament.singleplayer?
          .fw-bold.d-inline= _('TournamentTeam|Single Player')
          \:
          = model.captain.user.username
        - else
          .mb-2.fw-bold= _('TournamentTeam|Team members')
          -# Display the captain first
          .d-flex.justify-content-between.align-items-center.border-bottom.py-2
            %div
              = team_member_icon(model.captain)
              = model.captain.user.username
            - if model.captain?(current_user)
              %div
                = button nil, nil, btn_icon: %i[fas fa-chevron-up fa-fw],
                                  icon_only: true,
                                  size: :sm,
                                  disabled: true
                = button nil, nil, btn_icon: %i[fas fa-trash fa-fw],
                                  icon_only: true,
                                  size: :sm,
                                  disabled: true,
                                  color: :danger

          -# Then the other users
          - model.team_members.includes(:user).each do |team_member|
            - next if team_member.captain?

            .d-flex.justify-content-between.align-items-center.border-bottom.py-2
              %div
                = team_member_icon(team_member)
                = team_member.user.username
              - if model.captain?(current_user)
                %div
                  = button nil, promote_tournament_team_member_path(team_member), btn_icon: %i[fas fa-chevron-up fa-fw],
                                                                       icon_only: true,
                                                                       size: :sm,
                                                                       html: {title: _('TeamMember|Promote to captain'), data: { 'bs-toggle' => :tooltip } },
                                                                       method: :post,
                                                                       disabled: !model.tournament.registration_open?,
                                                                       confirm: _('Team|Promote to captain?')
                  = delete_button team_member, href: tournament_team_member_path(team_member),
                                               icon_only: true,
                                               size: :sm,
                                               disabled: !model.created? || !model.tournament.registration_open?

  .col-md-4
    .card
      .card-header
        = _('TournamentTeam|Team actions')
      .card-body
        - if logged_in?
          - if model.users.include?(current_user)
            - if model.tournament.singleplayer?
              = render partial: 'singleplayer_sidebar'
            - else
              = render partial: 'multiplayer_sidebar'
          - elsif model.full? && !model.tournament.singleplayer?
            .d-grid.gap-2
              = button _('TournamentTeam|Team is full'), nil, disabled: true
          - elsif !model.tournament.singleplayer?
            .d-grid.gap-2
              = button _('TournamentTeam|Join'), join_tournament_team_path(model), method: :post
        - else
          = _('TournamentTeam|Please sign in to see actions')

