.card.ticket-scanner-card
  .card-header
    = _('TicketScanner|Logged in as %{name} for %{lan_party}') % { name: current_scanner_user.name, lan_party: current_scanner_user.lan_party.name }
  .card-body{ data: { controller: 'ticket-scanner' } }
    = turbo_frame_tag 'ticket_scanner_scan' do
      .border-bottom.pb-3.mb-3
        = select_tag 'camera', options_for_select([], nil),
                              include_blank: _('TicketScanner|No camera found'),
                              data: { 'ticket-scanner-target' => 'cameraSelector' },
                              class: 'form-select d-inline-block w-auto'
        .scanner-action-buttons
          = button _('TicketScanner|Start'), nil, html: { data: { action: 'click->ticket-scanner#startScanning' } }, color: :default
          = button _('TicketScanner|Stop'), nil, html: { data: { action: 'click->ticket-scanner#stopScanning' } }, color: :default
          = button _('TicketScanner|Toggle flash'), nil, html: { data: { action: 'click->ticket-scanner#toggleFlash' } }, color: :default
      .text-center
        %video.ticket-scanner-area
    = turbo_frame_tag 'ticket_scanner_actions' do
      = form_with url: ticket_scanner_info_path do |f|
        = f.hidden_field :qr_id
