- content_for :header_buttons do
  = button _('FeatureFlag|Reinitialize'), reinitialize_admin_feature_flags_path, method: :post

.card
  .card-body
    .table-responsive
      %table.table.datagrid.table-striped.table-hover
        %tr
          %th= _('FeatureFlag|Key')
          %th= _('FeatureFlag|Enabled')
          %th= _('FeatureFlag|Toggle')
          - op.flags.each do |flag|
            %tr
              %td= flag.key.humanize
              %td= flag.enabled
              - if flag.enabled
                %td
                  = link_to toggle_admin_feature_flag_path(flag), data: { turbo_method: :post } do
                    = icon %i[fas fa-toggle-on]
              - else
                %td
                  = link_to toggle_admin_feature_flag_path(flag), data: { turbo_method: :post } do
                    = icon %i[fas fa-toggle-off]