- provide :shop_page_title, _('Orders|My Orders')
= render partial: 'shop/shared/header'

.card.mb-3
  .card-header
    = _('Orders|Payment pending')
  .card-body
    - if op.delayed_payment_pending_orders.any?
      %table.table.table-hover.mb-0
        %tr
          %th= _('Order|Order id')
          %th= _('Order|Completed at')
          %th= _('Order|Number of items')
          %th
        - op.delayed_payment_pending_orders.each do |order|
          %tr
            %td.align-middle= order.uuid
            %td.align-middle= l(order.created_at, format: :long)
            %td.align-middle= order.order_items.sum(&:quantity)
            %td.text-end= show_button order, href: shop_order_path(id: order.uuid), size: :sm, icon_only: true
    - else
      = _('Orders|No payment pending orders')
.card.mb-3
  .card-header
    = _('Orders|Completed orders')
  .card-body
    - if op.completed_orders.any?
      %table.table.table-hover.mb-0
        %tr
          %th= _('Order|Order id')
          %th= _('Order|Completed at')
          %th= _('Order|Number of items')
          %th
        - op.completed_orders.each do |order|
          %tr
            %td.align-middle= order.uuid
            %td.align-middle= l(order.created_at, format: :long)
            %td.align-middle= order.order_items.sum(&:quantity)
            %td.text-end= show_button order, href: shop_order_path(id: order.uuid), size: :sm, icon_only: true
    - else
      = _('Orders|No orders yet')