- provide :shop_page_title, _('Orders|My Orders')
= render partial: 'shop/shared/header'

%h4= _('Orders|Payment pending')
%table.table
  - op.delayed_payment_pending_orders.each do |order|
    %tr
      %td= order.uuid
      %td= l(order.created_at, format: :long)
      %td.text-center= order.order_items.sum(&:quantity)
      %td.text-end= show_button order, href: shop_order_path(id: order.uuid), size: :sm, icon_only: true

%hr

%h4= _('Orders|Completed orders')
%table.table
  - op.completed_orders.each do |order|
    %tr
      %td= order.uuid
      %td= l(order.created_at, format: :long)
      %td.text-center= order.order_items.sum(&:quantity)
      %td.text-end= show_button order, href: shop_order_path(id: order.uuid), size: :sm, icon_only: true