- provide :shop_page_title, _('Order #%{order_id}') % { order_id: model.id }
= render partial: 'shop/shared/header'

.card
  .card-body
    - if model.delayed_payment_pending?
      .row.border-bottom.mb-2.pb-3
        .col-md-12
          .alert.alert-info
            = _('Order|Delayed payment required hint')
          = delete_button model, href: cancel_delayed_payment_pending_shop_order_path(model)

    .row.border-bottom.pb-3.mb-2
      .col-md-4
        .text-muted= _('Order|Created at')
        = l(model.created_at, format: :long)
      .col-md-4
        .text-muted= _('Order|Order items count')
        = model.order_items.count
      .col-md-4
        .text-muted= _('Order|Shipping address')
        = "#{model.billing_address_first_name} #{model.billing_address_last_name}"
        %br
        = model.billing_address_street
        %br
        = "#{model.billing_address_zip_code} #{model.billing_address_city}"

    .my-3= _('Order|Order items')
    %table.table.table-bordered
      %tr
        %th= _('OrderItem|Item')
        %th= _('OrderItem|Quantity')
        %th= _('OrderItem|Price')
        %th= _('OrderItem|Total')
      - model.order_items.each do |order_item|
        %tr
          %td= order_item.product_name
          %td= order_item.quantity
          %td= humanized_money_with_symbol order_item.price
          %td= humanized_money_with_symbol order_item.total
      - model.promotion_code_mappings.each do |code_matching|
        %tr
          %td{colspan: 3}= "#{_('Order|PromotionCode')} #{code_matching.promotion_code.promotion.name}"
          %td.text-success= humanized_money_with_symbol(-code_matching.applied_reduction)
      %tr.border-top
        %td{colspan: 3}= _('Order|Total')
        %td= humanized_money_with_symbol(model.total)