- provide :shop_page_title, _('Order #%{order_id}') % { order_id: model.id }
= render partial: 'shop/shared/header'

.card
  .card-body
    .row.border-bottom.pb-3.mb-2
      .col-md-4
        .text-muted= _('Order|Created at')
        = l(model.created_at, format: :long)
      .col-md-4
        .text-muted= _('Order|Order items count')
        = model.order_items.count

    .my-3= _('Order|Order items')
    %table.table.table-bordered
      %tr
        %th= _('OrderItem|Item')
        %th= _('OrderItem|Quantity')
        %th= _('OrderItem|Price')
        %th= _('OrderItem|Total')
      - model.order_items.each do |order_item|
        %tr
          %td= order_item.product_name
          %td= order_item.quantity
          %td= humanized_money_with_symbol order_item.price
          %td= humanized_money_with_symbol order_item.total