.card
  .card-header
    = _('Sidebar|Next lan')
  .card-body
    %h3= lan_party.name
    .mb-3
      .text-muted= _('Sidebar|Available tickets')
      = lan_party_progress_bar(lan_party)
    %table
      %tr
        %td= _('Sidebar|Lan begin')
        %td.ps-2= l lan_party.event_start
      %tr
        %td= _('Sidebar|Lan end')
        %td.ps-2= l lan_party.event_end
      - if lan_party.location.present?
        %tr
          %td= _('Sidebar|Lan location')
          %td.ps-2= lan_party.location