.row
  .col-md-12
    .card
      .card-header
        = _('Phase|Rounds')
      .card-body
        - total_rounds = model.rounds.count
        - total_visible_rounds = total_rounds / 2

        %h4= _('Phase|Double elimination upper bracket')
        .double-elimination-tournament-tree.mb-4
          - model.rounds.order(:round_number).includes(matches: %i[away home]).each do |round|
            - cache [round, I18n.locale, :admin_round, :double_elim_upper] do
              = render partial: 'admin/tournaments/phases/double_elimination/upper_bracket_round', locals: { round: round, total_visible_rounds: total_visible_rounds, total_rounds: total_rounds }

        %h4= _('Phase|Double elimination lower bracket')
        .double-elimination-tournament-tree
          - model.rounds.order(:round_number).includes(matches: %i[away home]).each do |round|
            - cache [round, I18n.locale, :admin_round, :double_elim_lower] do
              = render partial: 'admin/tournaments/phases/double_elimination/lower_bracket_round', locals: { round: round, total_visible_rounds: total_visible_rounds, total_rounds: total_rounds }
