:ruby
  if model.new_record?
    url = [:admin, model]
  else
    url = admin_phase_path(model)
  end

= simple_form_for model, url: url do |f|
  .card-body
    - if model.errors[:base].present?
      = f.error :base, class: 'text-danger mb-3'
    = f.input :name
    = f.input :tournament_mode, as: :select,
                                collection: Tournament::Phase.tournament_modes,
                                include_blank: _('Form|Select|Blank'),
                                disabled: !model.created?
    - unless model.first_phase?
      = f.input :size, required: true, disabled: !model.created?
    = f.input :auto_progress, input_html: { class: 'no-validation' }
  .card-footer
    = f.save
