- if model.new_record?
  - url = [:admin, model]
- else
  - url = admin_phase_path(model)

= simple_form_for model, url: url do |f|
  .card-body
    = f.input :name
    = f.input :tournament_mode, as: :select,
                                collection: Tournament::Phase::tournament_modes,
                                include_blank: _('Form|Select|Blank')
    - unless model.first_phase?
      = f.input :size, required: true
  .card-footer
    = f.save
