.col-md-6.mb-4.mb-md-0
  .card.mb-4
    .card-header
      = _('Phase|Seeding')
    .card-body
      -# For now, we just display a list going from 1 (best seed) to
      -# number_of_seedable_teams (worst seed), where we can add a team
      -# to that seed with a button click (or remove the team from this
      -# seed).
      - seeded_teams = model.phase_teams.includes(:team)
      - if model.tournament.teams_need_rank?
        - seedable_teams = model.seedable_teams.joins(:tournament_team_rank).order('tournament_team_ranks.sort ASC, tournament_teams.name ASC')
      - else
        - seedable_teams = model.seedable_teams.order(:name)

      - (1..model.participating_teams.count).each do |current_seed|
        .d-flex.align-items-center.py-1{ class: ('border-top' unless current_seed == 1) }
          .me-2{style: 'width: 25px;'}
            = current_seed
          - if found_team = seeded_teams.find { |seeded_team| seeded_team.seed == current_seed }
            = simple_form_for :seeding, url: update_seeding_admin_phase_path(model), html: { class: 'd-flex' } do |f|
              = f.save '-', class: %i[btn-sm me-2 btn-danger]
              = f.input :seed, as: :hidden, input_html: { value: current_seed }
              = f.input :team, as: :hidden, input_html: { team: nil }
            = found_team.team.name
            - if model.tournament.teams_need_rank?
              .text-muted.ms-1
                \|
                = found_team.team.tournament_team_rank&.name
          - else
            = simple_form_for :seeding, url: update_seeding_admin_phase_path(model), html: { class: 'd-flex' } do |f|
              = f.save '+', class: %i[btn-sm me-2]
              = f.input :seed, as: :hidden, input_html: { value: current_seed }
              = f.input :team, as: :select, collection: seedable_teams,
                                            include_blank: _('Form|Select|Blank'),
                                            label: false,
                                            wrapper_html: { style: 'margin-bottom: 0 !important;' },
                                            input_html: { class: 'form-select-sm' },
                                            label_method: :name_with_optional_rank
    .card-footer
      - if seedable_teams.any?
        = _('Phase|Seeding not completed hint')
      - else
        = button _('Phase|Confirm seeding'), confirm_seeding_admin_phase_path(model), method: :post, confirm: _('Phase|Confirm seeding?'), btn_icon: %i[fas fa-check]