.col-md-6.mb-4.mb-md-0
  .card.mb-4
    .card-header
      = _('Phase|Standings')
    .card-body
      - if model.swiss?
        .d-flex.align-items-center.py-1.justify-content-between
          .fw-bold= _('Team|Name')
          .fw-bold= _('Team|Score')
        - model.phase_teams.order(score: :desc).includes(:team).each do |phase_team|
          .d-flex.align-items-center.py-1.justify-content-between.border-top
            %div= phase_team.team.name
            %div= phase_team.score
      - elsif model.completed?
        - model.final_standings.each_with_index do |teamname, index|
          .d-flex.align-items-center.py-1{ class: ('border-top' unless index == 0) }
            .me-2{style: 'width: 15px;'}
              = "#{index + 1}."
            = teamname
      - else
        = _('Tournament|Please see the tree for the current standings')