= simple_form_for model, url: settings_profile_path, wrapper: :input_group do |f|
  .card-body
    = f.input :username
    = f.input :email
    = f.password :password, placeholder: _('Settings|Password|Leave blank to keep current password'), input_html: { autocomplete: 'new-password' }
    %hr
    = f.input :website
    = f.input :bio
  .card-footer
    = f.save _('Settings|Update profile'), class: %i[btn-default]
