- content_for :page_title do
  Dummy Payment Gateway

.alert.alert-warning.countdown{ data: { time: op.result[:valid_until], redirect: main_app.shop_cart_url } }
  \-- minutes -- seconds left to complete the payment

.card
  .card-header
    = _('PamentGateway|Payment')
  .card-body
    = _('PamentGateway|Your total')
    = humanized_money_with_symbol(op.result[:total])

  .card-footer
    = button_to _('PamentGateway|Pay now'), complete_payment_path(order_id: op.result[:order_id]), data: { 'turbo-method' => :post }, class: %i[btn btn-primary]
    = link_to _('PamentGateway|Cancel'), main_app.shop_cart_path, class: 'btn btn-danger'

:javascript
  (function() {
    setupCountdownTimer()
  })();