- content_for :header_buttons do
  = new_button Ticket, href: new_admin_lan_party_ticket_path(op.lan_party)

.card
  .card-body
    = simple_form_for op.grid, url: admin_lan_party_tickets_path(op.lan_party), method: :get do |f|
      .row.mb-1
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :status
          = f.datagrid_filter :status, class: 'form-select rounded-0 select optional'
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :seat_category
          = f.datagrid_filter :seat_category, class: 'form-select rounded-0 select optional'
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :order_id, _('Admin|Ticket|Order present')
          = f.datagrid_filter :order_id, class: 'form-select rounded-0 select optional'
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :seat_present, _('Admin|Ticket|Seat present')
          = f.datagrid_filter :seat_present, class: 'form-select rounded-0 select optional'
        .optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :assignee, _('Admin|Ticket|Assignee')
          = f.datagrid_filter :assignee, class: 'rounded-0 optional form-control'
      .row.mb-3
        .d-flex.align-items-end.gap-1
          = f.save _('Apply filter')
          = button _('Search|Reset'), admin_lan_party_tickets_path(op.lan_party), color: :secondary
    = datagrid_table op.grid, html: { class: 'table' }
