- content_for :header_buttons do
  = new_button Ticket, href: new_admin_lan_party_ticket_path(op.lan_party)

.card
  .card-body
    = simple_form_for op.grid, url: admin_lan_party_tickets_path(op.lan_party), method: :get do |f|
      .row.mb-3
        .select.optional.col-lg-3.col-6
          = f.label :status
          = f.datagrid_filter :status, class: 'form-select rounded-0 select optional'
        .select.optional.col-lg-3.col-6
          = f.label :seat_category
          = f.datagrid_filter :seat_category, class: 'form-select rounded-0 select optional'
        .select.optional.col-lg-3.col-6
          = f.label :order_id, _('Admin|Ticket|Order present')
          = f.datagrid_filter :order_id, class: 'form-select rounded-0 select optional'
        .d-flex.align-items-end.gap-1.col-lg-3.col-6
          = f.save _('Apply filter')
          = button _('Search|Reset'), admin_lan_party_tickets_path(op.lan_party), color: :secondary
    = datagrid_table op.grid, html: { class: 'table' }
