.card
  = simple_form_for [:admin, :shop, model] do |f|
    .card-body
      = f.input :name
      = f.input :active, input_html: { class: 'no-validation' }
      = f.input :code_type, disabled: true, input_html: { class: 'no-validation' }, required: false
      = f.input :reduction, disabled: true, input_html: { class: 'no-validation' }
      = f.input :code_prefix, disabled: true, input_html: { class: 'no-validation' }
    .card-footer
      = f.save