.card
  = simple_form_for [:admin, :shop, model] do |f|
    .card-body
      = f.input :name
      = f.input :active, input_html: { class: 'no-validation' }
      = f.input :code_type, collection: Promotion.code_types, include_blank: _('Form|Select|Blank')
      = f.input :reduction
      = f.input :code_prefix
      = f.association :products, as: :check_boxes
      = f.input :codes_to_generate
    .card-footer
      = f.save