- content_for :header_buttons do
  = button _('Promotion|Export codes'), export_codes_admin_shop_promotion_path(model, format: :csv), btn_icon: %i[fa fa-fw fa-download], html: { target: :_blank }
  = button _('Promotion|Add codes'), add_codes_admin_shop_promotion_path(model), btn_icon: %i[fa fa-fw fa-plus]
  = edit_button model, namespace: %i[admin shop]

.card
  .card-body
    .row.pb-3.mb-2
      .col-md-4
        .text-muted= _('Promotion|Code type')
        = model.code_type
        - if model.fixed_value?
          = money_formatted model.reduction
      .col-md-4
        .text-muted= _('Promotion|Codes count')
        = model.promotion_codes.count
      .col-md-4
        .text-muted= _('Promotion|Used codes count')
        = model.promotion_codes.joins(:promotion_code_mapping).count
    %hr
    .text-muted= _('Promotion|Products')
    - model.products.each do |product|
      %span.badge.bg-secondary= product.name
    %hr
    = simple_form_for op.codes_grid, url: admin_shop_promotion_path(model), method: :get do |f|
      .row.mb-3
        .col-md-3.select.optional
          = f.datagrid_filter :used, class: 'form-select rounded-0 select optional'
        .col-md-3
          = f.save _('PromitionCodes|Apply filter')
    -# = datagrid_form_for op.codes_grid, url: admin_shop_promotion_path(model)
    = datagrid_table op.codes_grid, html: { class: 'table' }