%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  / Left navbar links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{ data: { widget: :pushmenu }, href: '#', role: :button, id: :pushmenu_toggler }
        %i.fas.fa-bars
  / Right navbar links
  %ul.navbar-nav.ml-auto
    / Messages Dropdown Menu
    -# render partial: 'layouts/admin/header_messages'
    / Notifications Dropdown Menu
    -# render partial: 'layouts/admin/header_notifications'
    .d-none.d-md-block
      %li.nav-item
        %a.nav-link{ data: { widget: :fullscreen }, href: '#', role: :button }
          %i.fas.fa-expand-arrows-alt
    %li.nav-item.dropdown
      %a.nav-link{data: { toggle: :dropdown}, href: '#'}
        = icon %i[fa fa-lg fa-language]
        = icon %i[fa fa-chevron-down]
      .dropdown-menu.dropdown-menu-right
        = link_to set_locale_path(locale: :en), method: :post, class: 'dropdown-item' + active_locale_class(:en) do
          = _('Language|English')
        = link_to set_locale_path(locale: :de), method: :post, class: 'dropdown-item' + active_locale_class(:de) do
          = _('Language|German')
    %li.nav-item.dropdown
      %a.nav-link{data: { toggle: :dropdown}, href: '#'}
        %div{style: 'height: 100%;'}
          = image_tag current_user.thumb_avatar, class: %i[img-circle mr-2], style: 'height: 100%;'
          = current_user.username
          = icon %i[fa fa-chevron-down]
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        %a.dropdown-item{href: root_path}
          = icon %i[fa fa-home]
          = _('AdminPanel|Back to application')
        .dropdown-divider
        = link_to logout_path, method: :delete, class: 'dropdown-item' do
          = icon %i[fa fa-sign-out-alt]
          = ('User|Logout')