#sidebar-wrapper{ data: { controller: 'admin--sidebar' } }
  .d-flex.flex-column.flex-shrink-0#sidebar{ class: admin_sidebar_classes, data: { 'admin--sidebar-target' => 'sidebar' } }
    .sidebar-content
      .d-flex.brand-container
        .flex-grow-1.flex-shrink-1.overflow-hidden.d-flex.align-items-center
          %a.brand{ href: admin_path }
            = AppConfig.application_name
        .flex-shrink-0.d-none.d-md-block
          %a.btn.btn-outline-secondary.icon-only-btn.rounded-0{ data: { action: 'click->admin--sidebar#collapseSidebar' } }
            = icon %i[fas fa-bars]
      .current-user-info
        .current-user-avatar
          - if current_user.avatar.attached?
            = image_tag current_user.avatar.variant(:thumb).processed
          - else
            = image_tag 'user.svg', class: %i[placeholder-avatar]
        .current-user-details
          = current_user.username
      - if current_user.only_payment_assist_permission?
        = render partial: 'layouts/admin/sidebar_nav_payment_assist_only'
      - else
        = render partial: 'layouts/admin/sidebar_nav_full'
    .sidebar-footer
      .sidebar-footer-button
        = link_to root_path do
          = icon %i[fas fa-house]
      .sidebar-footer-button
        %button.button_to{ 'data-bs-toggle' => 'dropdown' }
          = icon %i[fa fa-lightbulb]
        %ul.dropdown-menu.dropdown-menu-dark.border-0.rounded-0
          %li
            = button_to change_color_mode_path(mode: 'light'), data: { turbo: false }, class: color_theme_active_classes('light', 'dropdown-item px-3') do
              = icon %i[fas fa-sun]
              = _('ColorTheme|Light')
          %li
            = button_to change_color_mode_path(mode: 'dark'), data: { turbo: false }, class: color_theme_active_classes('dark', 'dropdown-item px-3') do
              = icon %i[fas fa-moon]
              = _('ColorTheme|Dark')
          %li
            = button_to change_color_mode_path(mode: 'auto'), data: { turbo: false }, class: color_theme_active_classes('auto', 'dropdown-item px-3') do
              = icon %i[fa fa-adjust]
              = _('ColorTheme|Auto')
      .sidebar-footer-button
        = button_to destroy_user_session_path, method: :delete, html: { turbo: false } do
          = icon %i[fa fa-sign-out-alt fa-fw]
      .sidebar-footer-more-dots
        = icon %i[fas fa-ellipsis-h]

  .sidebar-backdrop{ data: { action: 'click->admin--sidebar#hideOffcanvasSidebar' } }

  %a.btn.btn-secondary.offcanvas-toggler.d-none.icon-only-btn{ data: { action: 'click->admin--sidebar#showOffcanvasSidebar' } }
    = icon %i[fas fa-bars]

-# .btn-group.dropup
-#   %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
-#     Dropup
-#   %ul.dropdown-menu
-#     / Dropdown menu links
