%aside.main-sidebar.elevation-2{class: admin_sidebar_classes}
  / Brand Logo
  %a.brand-link{href: admin_path}
    %img.brand-image.img-circle.elevation-3{alt: 'Application Logo', src: 'http://placekitten.com/100/100', style: 'opacity: .8'}
    %span.brand-text.font-weight-light= _('ApplicationName')
  / Sidebar
  .sidebar
    / Sidebar Menu
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.nav-flat.flex-column{data: { accordion: false, widget: 'treeview', role: 'menu' }}
        /
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library
        %li.nav-item
          %a.nav-link{href: admin_path, class: active_link_classes(:home)}
            %i.nav-icon.fas.fa-tachometer-alt
            %p= _('Admin|Dashboard')
        - if can? :manage, User
          %li.nav-item
            %a.nav-link{href: admin_users_path, class: active_link_classes(:users)}
              %i.nav-icon.fas.fa-users
              %p= _('Admin|Users')
        - if can? :manage, NewsPost
          %li.nav-item
            %a.nav-link{href: admin_news_posts_path, class: active_link_classes(:news_posts)}
              %i.nav-icon.fas.fa-newspaper
              %p= _('Admin|NewsPosts')
        - if can? :manage, Event
          %li.nav-item{class: dropdown_header_classes(:events)}
            %a.nav-link{href: '#', class: active_link_classes(:events)}
              %i.nav-icon.fas.fa-calendar-alt
              %p
                = _('Admin|Events')
                %i.right.fas.fa-angle-left
            %ul.nav.nav-treeview{style:  dropdown_body_style(:events)}
              %li.nav-item
                %a.nav-link{href: admin_events_path, class: active_link_classes(:events, excluded_actions: %i[archive])}
                  %i.nav-icon.far.fa-circle
                  %p= _('Admin|Events|Events')
              %li.nav-item
                %a.nav-link{href: archive_admin_events_path, class: active_link_classes(:events, actions: %i[archive])}
                  %i.nav-icon.far.fa-circle
                  %p= _('Admin|Events|Archive')
        - if can? :manage, FeatureFlag
          %li.nav-item
            %a.nav-link{href: admin_feature_flags_path, class: active_link_classes(:feature_flags)}
              %i.nav-icon.fas.fa-flag
              %p= _('Admin|Feature Flags')
    / /.sidebar-menu
  / /.sidebar