%div{ data: { controller: 'admin--sidebar' } }
  #sidebar.d-flex.flex-column.flex-shrink-0{class: admin_sidebar_classes, data: { 'admin--sidebar-target' => 'sidebar' }}
    .sidebar-content
      .d-flex.brand-container
        .flex-grow-1.flex-shrink-1.overflow-hidden.d-flex.align-items-center
          %a.brand{href: admin_path}
            = _('ApplicationName')
        .flex-shrink-0.d-none.d-md-block
          %a.btn.btn-outline-secondary.icon-only-btn{data: { action: 'click->admin--sidebar#collapseSidebar' } }
            = icon %i[fas fa-bars]
      .current-user-info
        .current-user-avatar
          - if current_user.thumb_avatar.present?
            = image_tag current_user.thumb_avatar
          - else
            = image_tag 'user.svg', class: %i[placeholder-avatar]
        .current-user-details
          = current_user.username
      %ul.nav.nav-pills.flex-column.sidenav
        %li.nav-item
          %a.nav-link{href: admin_path, class: active_link_classes(:home)}
            %span
              %i.nav-icon.fas.fa-tachometer-alt
              %span.nav-item-text= _('Admin|Dashboard')
        - if can? :manage, User
          %li.nav-item
            %a.nav-link{href: admin_users_path, class: active_link_classes(:users, include_children: true)}
              %span
                %i.nav-icon.fas.fa-users
                %span.nav-item-text= _('Admin|Users')
        - if can? :manage, NewsPost
          %li.nav-item
            %a.nav-link{href: admin_news_posts_path, class: active_link_classes(:news_posts)}
              %span
                %i.nav-icon.fas.fa-newspaper
                %span.nav-item-text= _('Admin|NewsPosts')
        - if can? :manage, Event
          %li.nav-item.dropdown
            %a.nav-link.collapse-link{data: {'bs-toggle' => 'collapse'}, href: '#events-collapse', class: sidenav_collapser_classes(:events)}
              %span
                %i.nav-icon.fas.fa-calendar-alt
                %span.nav-item-text= _('Admin|Events')
              %i.right.fas.fa-angle-right.dropdown-icon
            #events-collapse.collapse{class: sidenav_collapse_classes(:events), data: { 'bs-parent' => '.sidenav' }}
              %ul.nav.nav-pills.flex-column
                %li.nav-item
                  %a.nav-link{href: admin_events_path, class: active_link_classes(:events, excluded_actions: %i[archive])}
                    %span
                      %i.nav-icon.far.fa-circle
                      %span.nav-item-text= _('Admin|Events|Events')
                %li.nav-item
                  %a.nav-link{href: archive_admin_events_path, class: active_link_classes(:events, actions: %i[archive])}
                    %span
                      %i.nav-icon.far.fa-circle
                      %span.nav-item-text= _('Admin|Events|Archive')
        - if can? :manage, Page
          %li.nav-item
            %a.nav-link{href: admin_pages_path, class: active_link_classes(:pages)}
              %span
                %i.nav-icon.fas.fa-book
                %span.nav-item-text= _('Admin|Pages')
        - if can? :manage, MenuItem
          %li.nav-item
            %a.nav-link{href: admin_menu_items_path, class: active_link_classes(:menu_items)}
              %span
                %i.nav-icon.fas.fa-compass
                %span.nav-item-text= _('Admin|MenuItems')
        - if can? :manage, :shop
          %li.nav-item.dropdown
            %a.nav-link.collapse-link{data: {'bs-toggle' => 'collapse'}, href: '#shop-collapse', class: sidenav_collapser_classes(:products, :orders)}
              %span
                %i.nav-icon.fas.fa-shop
                %span.nav-item-text= _('Admin|Shop')
              %i.right.fas.fa-angle-right.dropdown-icon
            #shop-collapse.collapse{class: sidenav_collapse_classes(:products, :orders), data: { 'bs-parent' => '.sidenav' }}
              %ul.nav.nav-pills.flex-column
                %li.nav-item
                  %a.nav-link{href: admin_products_path, class: active_link_classes(:products)}
                    %span
                      %i.nav-icon.fas.fa-tags
                      %span.nav-item-text= _('Admin|Products')
                %li.nav-item
                  %a.nav-link{href: admin_orders_path, class: active_link_classes(:orders)}
                    %span
                      %i.nav-icon.fas.fa-cart-shopping
                      %span.nav-item-text= _('Admin|Orders')
        - if can? :manage, FeatureFlag
          %li.nav-item
            %a.nav-link{href: admin_feature_flags_path, class: active_link_classes(:feature_flags)}
              %span
                %i.nav-icon.fas.fa-flag
                %span.nav-item-text= _('Admin|Feature Flags')
    .sidebar-footer
      .sidebar-footer-button
        = link_to root_path do
          = icon %i[fas fa-house]
      .sidebar-footer-button
        = button_to toggle_dark_mode_path, data: { turbo: false } do
          = icon %i[fa fa-adjust]
      .sidebar-footer-button.dropup
        = link_to '#', data: { 'bs-toggle' => 'dropdown' } do
          = icon %i[fas fa-language]
        %ul.dropdown-menu.dropdown-menu-dark
          = link_to set_locale_path(locale: :en), data: { turbo_method: :post }, class: 'dropdown-item' + active_locale_class(:en) do
            = _('Language|English')
          = link_to set_locale_path(locale: :de), data: { turbo_method: :post }, class: 'dropdown-item' + active_locale_class(:de) do
            = _('Language|German')
      .sidebar-footer-button
        = button_to logout_path, method: :delete do
          = icon %i[fas fa-power-off]
      .sidebar-footer-more-dots
        = icon %i[fas fa-ellipsis-h]

  .sidebar-backdrop{data: { action: 'click->admin--sidebar#hideOffcanvasSidebar' } }

  %a.btn.btn-secondary.offcanvas-toggler.d-none.icon-only-btn{data: { action: 'click->admin--sidebar#showOffcanvasSidebar' } }
    = icon %i[fas fa-bars]