#sidebar.d-flex.flex-column.flex-shrink-0
  %a.brand{href: admin_path}
    %img{alt: 'Application Logo', src: 'http://placekitten.com/100/100'}
    %span.brand-text= _('ApplicationName')
  %ul.nav.nav-pills.flex-column.sidenav
    %li.nav-item
      %a.nav-link{href: admin_path, class: active_link_classes(:home)}
        %span
          %i.nav-icon.fas.fa-tachometer-alt
          %span.nav-item-text= _('Admin|Dashboard')
    - if can? :manage, User
      %li.nav-item
        %a.nav-link{href: admin_users_path, class: active_link_classes(:users)}
          %span
            %i.nav-icon.fas.fa-users
            %span= _('Admin|Users')
    - if can? :manage, NewsPost
      %li.nav-item
        %a.nav-link{href: admin_news_posts_path, class: active_link_classes(:news_posts)}
          %span
            %i.nav-icon.fas.fa-newspaper
            %span= _('Admin|NewsPosts')
    - if can? :manage, Event
      %li.nav-item.dropdown
        %a.nav-link{data: {'bs-toggle' => 'collapse'}, href: '#events-collapse', class: active_link_classes(:events)}
          %span
            %i.nav-icon.fas.fa-calendar-alt
            %span
              = _('Admin|Events')
              %i.right.fas.fa-angle-right
        #events-collapse.collapse{class: sidenav_collapse_classes(:events), data: { 'bs-parent' => '.sidenav' }}
          %ul.nav.nav-pills.flex-column
            %li.nav-item
              %a.nav-link{href: admin_events_path, class: active_link_classes(:events, excluded_actions: %i[archive])}
                %span
                  %i.nav-icon.far.fa-circle
                  %span= _('Admin|Events|Events')
            %li.nav-item
              %a.nav-link{href: archive_admin_events_path, class: active_link_classes(:events, actions: %i[archive])}
                %span
                  %i.nav-icon.far.fa-circle
                  %span= _('Admin|Events|Archive')
    - if can? :manage, FeatureFlag
      %li.nav-item
        %a.nav-link{href: admin_feature_flags_path, class: active_link_classes(:feature_flags)}
          %span
            %i.nav-icon.fas.fa-flag
            %span= _('Admin|Feature Flags')
