%div{ data: { controller: 'admin--sidebar' } }
  #sidebar.d-flex.flex-column.flex-shrink-0{class: admin_sidebar_classes, data: { 'admin--sidebar-target' => 'sidebar' }}
    .sidebar-content
      .d-flex.brand-container
        .flex-grow-1.flex-shrink-1.overflow-hidden.d-flex.align-items-center
          %a.brand{href: admin_path}
            = _('ApplicationName')
        .flex-shrink-0.d-none.d-md-block
          %a.btn.btn-outline-secondary.icon-only-btn.rounded-0{data: { action: 'click->admin--sidebar#collapseSidebar' } }
            = icon %i[fas fa-bars]
      .current-user-info
        .current-user-avatar
          - if current_user.avatar.attached?
            = image_tag current_user.avatar.variant(:thumb).processed
          - else
            = image_tag 'user.svg', class: %i[placeholder-avatar]
        .current-user-details
          = current_user.username
      %ul.nav.nav-pills.flex-column.sidenav
        %li.nav-item
          %a.nav-link{href: admin_path, class: active_link_classes(:home)}
            %span
              %i.nav-icon.fas.fa-tachometer-alt.fa-fw
              %span.nav-item-text= _('Admin|Dashboard')
        - if can? :manage, User
          %li.nav-item
            %a.nav-link{href: admin_users_path, class: active_link_classes(:users, include_children: true)}
              %span
                %i.nav-icon.fas.fa-users.fa-fw
                %span.nav-item-text= _('Admin|Users')
        - if can? :manage, NewsPost
          %li.nav-item
            %a.nav-link{href: admin_news_posts_path, class: active_link_classes(:news_posts)}
              %span
                %i.nav-icon.fas.fa-newspaper.fa-fw
                %span.nav-item-text= _('Admin|NewsPosts')
        - if can? :manage, Event
          %li.nav-item.dropdown
            %a.nav-link.collapse-link{data: {'bs-toggle' => 'collapse'}, href: '#events-collapse', class: sidenav_collapser_classes(:events)}
              %span
                %i.nav-icon.fas.fa-calendar-alt.fa-fw
                %span.nav-item-text= _('Admin|Events')
              %i.right.fas.fa-angle-right.dropdown-icon
            #events-collapse.collapse{class: sidenav_collapse_classes(:events), data: { 'bs-parent' => '.sidenav' }}
              %ul.nav.nav-pills.flex-column
                %li.nav-item
                  %a.nav-link{href: admin_events_path, class: active_link_classes(:events, excluded_actions: %i[archive])}
                    %span
                      %i.nav-icon.far.fa-circle.fa-fw
                      %span.nav-item-text= _('Admin|Events|Events')
                %li.nav-item
                  %a.nav-link{href: archive_admin_events_path, class: active_link_classes(:events, actions: %i[archive])}
                    %span
                      %i.nav-icon.far.fa-circle.fa-fw
                      %span.nav-item-text= _('Admin|Events|Archive')
        - if can? :manage, Page
          %li.nav-item
            %a.nav-link{href: admin_pages_path, class: active_link_classes(:pages)}
              %span
                %i.nav-icon.fas.fa-book.fa-fw
                %span.nav-item-text= _('Admin|Pages')
        - if can? :manage, MenuItem
          %li.nav-item
            %a.nav-link{href: admin_menu_items_path, class: active_link_classes(:menu_items)}
              %span
                %i.nav-icon.fas.fa-compass.fa-fw
                %span.nav-item-text= _('Admin|MenuItems')
        - if can?(:manage, :shop) || can?(:use, :payment_assist)
          %li.nav-item.dropdown
            %a.nav-link.collapse-link{
                                        data: {'bs-toggle' => 'collapse'},
                                        href: '#shop-collapse',
                                        class: sidenav_collapser_classes(:products, :orders, :product_categories, :dashboard, :promotions)
                                      }
              %span
                %i.nav-icon.fas.fa-shop.fa-fw
                %span.nav-item-text= _('Admin|Shop')
              %i.right.fas.fa-angle-right.dropdown-icon
            #shop-collapse.collapse{
                                      class: sidenav_collapse_classes(:products, :orders, :product_categories, :dashboard, :promotions, :payment_assist),
                                      data: { 'bs-parent' => '.sidenav' }
                                    }
              %ul.nav.nav-pills.flex-column
                - if can?(:manage, :shop)
                  %li.nav-item
                    %a.nav-link{href: admin_shop_dashboard_path, class: active_link_classes(:dashboard)}
                      %span
                        %i.nav-icon.fas.fa-tachometer-alt.fa-fw
                        %span.nav-item-text= _('Admin|Shop|Dashboard')
                  %li.nav-item
                    %a.nav-link{href: admin_shop_products_path, class: active_link_classes(:products)}
                      %span
                        %i.nav-icon.fas.fa-box.fa-fw
                        %span.nav-item-text= _('Admin|Products')
                  %li.nav-item
                    %a.nav-link{href: admin_shop_product_categories_path, class: active_link_classes(:product_categories)}
                      %span
                        %i.nav-icon.fas.fa-tags.fa-fw
                        %span.nav-item-text= _('Admin|ProductCategories')
                  %li.nav-item
                    %a.nav-link{href: admin_shop_orders_path, class: active_link_classes(:orders)}
                      %span
                        %i.nav-icon.fas.fa-cart-shopping.fa-fw
                        %span.nav-item-text= _('Admin|Orders')
                  %li.nav-item
                    %a.nav-link{href: admin_shop_promotions_path, class: active_link_classes(:promotions)}
                      %span
                        %i.nav-icon.fas.fa-percent.fa-fw
                        %span.nav-item-text= _('Admin|Promotions')
                - if can?(:use, :payment_assist)
                  %li.nav-item
                    %a.nav-link{href: admin_shop_payment_assist_path, class: active_link_classes(:payment_assist)}
                      %span
                        %i.nav-icon.fas.fa-cash-register.fa-fw
                        %span.nav-item-text= _('Admin|Payment Assist')
        - if can? :manage, LanParty
          .li.nav-item
            %a.nav-link{href: admin_lan_parties_path, class: active_link_classes(:lan_parties, include_children: true)}
              %span
                %i.nav-icon.fas.fa-gamepad.fa-fw
                %span.nav-item-text= _('Admin|LanParty')
          .li.nav-item
            %a.nav-link{href: admin_scanner_users_path, class: active_link_classes(:scanner_users, include_children: true)}
              %span
                %i.nav-icon.fas.fa-barcode.fa-fw
                %span.nav-item-text= _('Admin|ScannerUsers')
        - if can? :manage, Tournament
          .li.nav-item
            %a.nav-link{href: admin_tournaments_path, class: active_link_classes(:tournaments, include_children: true)}
              %span
                %i.nav-icon.fas.fa-trophy.fa-fw
                %span.nav-item-text= _('Admin|Tournaments')
        - if can?(:manage, :system) || can?(:manage, FeatureFlag) || can?(:manage, ApiApplication)
          %li.nav-item.dropdown
            %a.nav-link.collapse-link{data: {'bs-toggle' => 'collapse'}, href: '#system-collapse', class: sidenav_collapser_classes(:system, :feature_flags)}
              %span
                %i.nav-icon.fas.fa-server.fa-fw
                %span.nav-item-text= _('Admin|System')
              %i.right.fas.fa-angle-right.dropdown-icon
            #system-collapse.collapse{class: sidenav_collapse_classes(:system, :feature_flags, :api_applications), data: { 'bs-parent' => '.sidenav' }}
              %ul.nav.nav-pills.flex-column
                - if can?(:manage, :system)
                  %li.nav-item
                    %a.nav-link{href: admin_system_path, class: active_link_classes(:system)}
                      %span
                        %i.nav-icon.fas.fa-tachometer-alt.fa-fw
                        %span.nav-item-text= _('Admin|System Dashboard')
                - if can?(:manage, FeatureFlag)
                  %li.nav-item
                    %a.nav-link{href: admin_feature_flags_path, class: active_link_classes(:feature_flags)}
                      %span
                        %i.nav-icon.fas.fa-flag.fa-fw
                        %span.nav-item-text= _('Admin|Feature Flags')
                - if can?(:manage, ApiApplication)
                  %li.nav-item
                    %a.nav-link{href: admin_api_applications_path, class: active_link_classes(:api_applications)}
                      %span
                        %i.nav-icon.fas.fa-key.fa-fw
                        %span.nav-item-text= _('Admin|API applications')
    .sidebar-footer
      .sidebar-footer-button
        = link_to root_path do
          = icon %i[fas fa-house]
      .sidebar-footer-button
        = button_to toggle_dark_mode_path, data: { turbo: false } do
          = icon %i[fa fa-adjust]
      .sidebar-footer-button.dropup
        = link_to '#', data: { 'bs-toggle' => 'dropdown' } do
          = icon %i[fas fa-language]
        %ul.dropdown-menu.dropdown-menu-dark
          = link_to set_locale_path(locale: :en), data: { turbo_method: :post }, class: 'dropdown-item' + active_locale_class(:en) do
            = _('Language|English')
          = link_to set_locale_path(locale: :de), data: { turbo_method: :post }, class: 'dropdown-item' + active_locale_class(:de) do
            = _('Language|German')
      .sidebar-footer-button
        = button_to destroy_user_session_path, method: :delete, html: { turbo: false } do
          = icon %i[fas fa-power-off]
      .sidebar-footer-more-dots
        = icon %i[fas fa-ellipsis-h]

  .sidebar-backdrop{data: { action: 'click->admin--sidebar#hideOffcanvasSidebar' } }

  %a.btn.btn-secondary.offcanvas-toggler.d-none.icon-only-btn{data: { action: 'click->admin--sidebar#showOffcanvasSidebar' } }
    = icon %i[fas fa-bars]