%ul.nav.nav-pills.flex-column.sidenav
  %li.nav-item
    %a.nav-link{ href: admin_path, class: active_link_classes(:home) }
      %span
        %i.nav-icon.fas.fa-tachometer-alt.fa-fw
        %span.nav-item-text= _('Admin|Dashboard')
  - if can? :manage, User
    %li.nav-item
      %a.nav-link{ href: admin_users_path, class: active_link_classes(:users, include_children: true) }
        %span
          %i.nav-icon.fas.fa-users.fa-fw
          %span.nav-item-text= _('Admin|Users')
  - if can? :manage, NewsPost
    %li.nav-item
      %a.nav-link{ href: admin_news_posts_path, class: active_link_classes(:news_posts) }
        %span
          %i.nav-icon.fas.fa-newspaper.fa-fw
          %span.nav-item-text= _('Admin|NewsPosts')
  - if can? :manage, Event
    %li.nav-item.dropdown
      %a.nav-link.collapse-link{ data: { 'bs-toggle' => 'collapse' }, href: '#events-collapse', class: sidenav_collapser_classes(:events) }
        %span
          %i.nav-icon.fas.fa-calendar-alt.fa-fw
          %span.nav-item-text= _('Admin|Events')
        %i.right.fas.fa-angle-right.dropdown-icon
      .collapse#events-collapse{ class: sidenav_collapse_classes(:events), data: { 'bs-parent' => '.sidenav' } }
        %ul.nav.nav-pills.flex-column
          %li.nav-item
            %a.nav-link{ href: admin_events_path, class: active_link_classes(:events, excluded_actions: %i[archive]) }
              %span
                %i.nav-icon.far.fa-circle.fa-fw
                %span.nav-item-text= _('Admin|Events|Events')
          %li.nav-item
            %a.nav-link{ href: archive_admin_events_path, class: active_link_classes(:events, actions: %i[archive]) }
              %span
                %i.nav-icon.far.fa-circle.fa-fw
                %span.nav-item-text= _('Admin|Events|Archive')
  - if can? :manage, Page
    %li.nav-item
      %a.nav-link{ href: admin_pages_path, class: active_link_classes(:pages) }
        %span
          %i.nav-icon.fas.fa-book.fa-fw
          %span.nav-item-text= _('Admin|Pages')
  - if can? :manage, MenuItem
    %li.nav-item
      %a.nav-link{ href: admin_menu_items_path, class: active_link_classes(:menu_items) }
        %span
          %i.nav-icon.fas.fa-compass.fa-fw
          %span.nav-item-text= _('Admin|MenuItems')
  - if can?(:manage, :shop) || can?(:use, :payment_assist)
    %li.nav-item.dropdown
      %a.nav-link.collapse-link{
                                  data: { 'bs-toggle' => 'collapse' },
                                  href: '#shop-collapse',
                                  class: sidenav_collapser_classes(:products, :orders, :product_categories, :dashboard, :promotions, :payment_assist)
                                }
        %span
          %i.nav-icon.fas.fa-shop.fa-fw
          %span.nav-item-text= _('Admin|Shop')
        %i.right.fas.fa-angle-right.dropdown-icon
      .collapse#shop-collapse{
                                class: sidenav_collapse_classes(:products, :orders, :product_categories, :dashboard, :promotions, :payment_assist),
                                data: { 'bs-parent' => '.sidenav' }
                              }
        %ul.nav.nav-pills.flex-column
          - if can?(:manage, :shop)
            %li.nav-item
              %a.nav-link{ href: admin_shop_dashboard_path, class: active_link_classes(:dashboard) }
                %span
                  %i.nav-icon.fas.fa-tachometer-alt.fa-fw
                  %span.nav-item-text= _('Admin|Shop|Dashboard')
            %li.nav-item
              %a.nav-link{ href: admin_shop_products_path, class: active_link_classes(:products) }
                %span
                  %i.nav-icon.fas.fa-box.fa-fw
                  %span.nav-item-text= _('Admin|Products')
            %li.nav-item
              %a.nav-link{ href: admin_shop_product_categories_path, class: active_link_classes(:product_categories) }
                %span
                  %i.nav-icon.fas.fa-tags.fa-fw
                  %span.nav-item-text= _('Admin|ProductCategories')
            %li.nav-item
              %a.nav-link{ href: admin_shop_orders_path, class: active_link_classes(:orders) }
                %span
                  %i.nav-icon.fas.fa-cart-shopping.fa-fw
                  %span.nav-item-text= _('Admin|Orders')
            %li.nav-item
              %a.nav-link{ href: admin_shop_promotions_path, class: active_link_classes(:promotions) }
                %span
                  %i.nav-icon.fas.fa-percent.fa-fw
                  %span.nav-item-text= _('Admin|Promotions')
          - if can?(:use, :payment_assist)
            %li.nav-item
              %a.nav-link{ href: admin_shop_payment_assist_path, class: active_link_classes(:payment_assist) }
                %span
                  %i.nav-icon.fas.fa-cash-register.fa-fw
                  %span.nav-item-text= _('Admin|Payment Assist')
  - if can? :manage, LanParty
    .li.nav-item
      %a.nav-link{ href: admin_lan_parties_path, class: active_link_classes(:lan_parties, include_children: true) }
        %span
          %i.nav-icon.fas.fa-gamepad.fa-fw
          %span.nav-item-text= _('Admin|LanParty')
    .li.nav-item
      %a.nav-link{ href: admin_scanner_users_path, class: active_link_classes(:scanner_users, include_children: true) }
        %span
          %i.nav-icon.fas.fa-barcode.fa-fw
          %span.nav-item-text= _('Admin|ScannerUsers')
  - if can? :read, Tournament
    .li.nav-item
      %a.nav-link{ href: admin_tournaments_path, class: active_link_classes(:tournaments, include_children: true) }
        %span
          %i.nav-icon.fas.fa-ranking-star.fa-fw
          %span.nav-item-text= _('Admin|Tournaments')
  - if can? :manage, Upload
    .li.nav-item
      %a.nav-link{ href: admin_uploads_path, class: active_link_classes(:uploads, include_children: true) }
        %span
          %i.nav-icon.fas.fa-cloud-arrow-up.fa-fw
          %span.nav-item-text= _('Admin|Uploads')
  - if can? :manage, Achievement
    .li.nav-item
      %a.nav-link{ href: admin_achievements_path, class: active_link_classes(:achievements, include_children: true) }
        %span
          %i.nav-icon.fas.fa-trophy.fa-fw
          %span.nav-item-text= _('Admin|Achievements')
  - if can? :manage, :frontent_design
    %li.nav-item.dropdown
      %a.nav-link.collapse-link{ data: { 'bs-toggle' => 'collapse' }, href: '#design-collapse', class: sidenav_collapser_classes(:footer_logos, :styling_variables, :sidebar_blocks, :startpage_banners, :startpage_blocks) }
        %span
          %i.nav-icon.fas.fa-brush.fa-fw
          %span.nav-item-text= _('Admin|Design')
        %i.right.fas.fa-angle-right.dropdown-icon
      .collapse#design-collapse{ class: sidenav_collapse_classes(:footer_logos, :styling_variables, :sidebar_blocks, :startpage_banners, :startpage_blocks), data: { 'bs-parent' => '.sidenav' } }
        %ul.nav.nav-pills.flex-column
          %li.nav-item
            %a.nav-link{ href: admin_startpage_blocks_path, class: active_link_classes(:startpage_blocks) }
              %span
                %i.nav-icon.fas.fa-rectangle-list.fa-fw
                %span.nav-item-text= _('Admin|StartpageBlocks')
          %li.nav-item
            %a.nav-link{ href: admin_startpage_banners_path, class: active_link_classes(:startpage_banners) }
              %span
                %i.nav-icon.fas.fa-panorama.fa-fw
                %span.nav-item-text= _('Admin|StartpageBanners')
          %li.nav-item
            %a.nav-link{ href: admin_footer_logos_path, class: active_link_classes(:footer_logos) }
              %span
                %i.nav-icon.far.fa-images.fa-fw
                %span.nav-item-text= _('Admin|FooterLogos')
          %li.nav-item
            %a.nav-link{ href: admin_sidebar_blocks_path, class: active_link_classes(:sidebar_blocks) }
              %span
                %i.nav-icon.fas.fa-table-columns.fa-fw
                %span.nav-item-text= _('Admin|SidebarBlocks')
          %li.nav-item
            %a.nav-link{ href: admin_styling_variables_path, class: active_link_classes(:styling_variables) }
              %span
                %i.nav-icon.fas.fa-palette.fa-fw
                %span.nav-item-text= _('Admin|StylingVariables')
  - if can?(:manage, :developer)
    %li.nav-item.dropdown
      %a.nav-link.collapse-link{ data: { 'bs-toggle' => 'collapse' }, href: '#developer-collapse', class: sidenav_collapser_classes(:api_applications, :oauth_applications) }
        %span
          %i.nav-icon.fas.fa-code.fa-fw
          %span.nav-item-text= _('Admin|Developer')
        %i.right.fas.fa-angle-right.dropdown-icon
      .collapse#developer-collapse{ class: sidenav_collapse_classes(:api_applications, :oauth_applications), data: { 'bs-parent' => '.sidenav' } }
        %ul.nav.nav-pills.flex-column
          - if can?(:manage, ApiApplication)
            %li.nav-item
              %a.nav-link{ href: admin_api_applications_path, class: active_link_classes(:api_applications) }
                %span
                  %i.nav-icon.fas.fa-key.fa-fw
                  %span.nav-item-text= _('Admin|API applications')
          - if can?(:manage, Doorkeeper::Application)
            %li.nav-item
              %a.nav-link{ href: oauth_applications_path, class: active_link_classes(:oauth_applications) }
                %span
                  %i.nav-icon.fas.fa-unlock-keyhole.fa-fw
                  %span.nav-item-text= _('Admin|OAuth applications')
  - if can?(:manage, :system) || can?(:manage, FeatureFlag)
    %li.nav-item.dropdown
      %a.nav-link.collapse-link{ data: { 'bs-toggle' => 'collapse' }, href: '#system-collapse', class: sidenav_collapser_classes(:system, :feature_flags, :settings) }
        %span
          %i.nav-icon.fas.fa-server.fa-fw
          %span.nav-item-text= _('Admin|System')
        %i.right.fas.fa-angle-right.dropdown-icon
      .collapse#system-collapse{ class: sidenav_collapse_classes(:system, :feature_flags, :settings), data: { 'bs-parent' => '.sidenav' } }
        %ul.nav.nav-pills.flex-column
          - if can?(:manage, :system)
            %li.nav-item
              %a.nav-link{ href: admin_system_path, class: active_link_classes(:system) }
                %span
                  %i.nav-icon.fas.fa-tachometer-alt.fa-fw
                  %span.nav-item-text= _('Admin|System Dashboard')
          - if can?(:manage, FeatureFlag)
            %li.nav-item
              %a.nav-link{ href: admin_feature_flags_path, class: active_link_classes(:feature_flags) }
                %span
                  %i.nav-icon.fas.fa-flag.fa-fw
                  %span.nav-item-text= _('Admin|Feature Flags')
          - if can?(:manage, AppConfig)
            %li.nav-item
              %a.nav-link{ href: admin_settings_path, class: active_link_classes(:settings) }
                %span
                  %i.nav-icon.fas.fa-wrench.fa-fw
                  %span.nav-item-text= _('Admin|Settings')
