- content_for :page_title, _('Users')

.row.mb-3
  .col-12
    .card
      .card-body.d-flex.users-table-header.justify-content-between
        .d-flex
          - op.grid.html_columns.each do |column|
            - next unless column.supports_order?

            .d-flex.px-3.py-1.align-items-center{ class: datagrid_column_classes(op.grid, column) }
              .me-2= column.header
              = datagrid_order_for(op.grid, column)
        %div
          = simple_form_for op.grid, url: users_path, method: :get do |f|
            .d-flex
              .optional.me-2
                = f.datagrid_filter :username, class: 'form-control rounded-0 string', placeholder: _('User|Username')
              %div
                = f.save _('Apply filter')
                = button _('Search|Reset'), users_path, color: :secondary

.row.mb-3
  - if op.grid.assets.any?
    = datagrid_rows(op.grid) do |row|
      .col-md-6.mb-3
        .card
          .card-body
            .d-flex
              .flex-shrink-0
                .placeholder-glow
                  = row.avatar
              .flex-grow-1.ms-3
                %h4= link_to row.username, row.asset
  - else
    .col-12
      .card
        .card-body
          = _('User|No users found')

= paginate op.grid.assets, theme: 'bootstrap'
