.d-flex.justify-content-center.align-items-center.sessions-page
  .card.devise-card
    = simple_form_for model, wrapper: :input_group, url: signup_path, html: { data: { turbo: false } } do |f|
      .card-header.text-center
        %a.h1{ href: root_path }
          = AppConfig.application_name
      .card-body
        = f.input :username, label: false, placeholder: _('User|Username'), input_html: { autocomplete: 'off' }
        = f.input :email, label: false, placeholder: _('User|Email'), input_html: { autocomplete: 'email' }
        = f.password :password, label: false, placeholder: _('User|Password'), input_html: { autocomplete: 'new-password' }
        = recaptcha_tags noscript: false, class: 'd-flex justify-content-center'
      .card-footer
        .d-grid.gap-3
          = f.save _('User|Create account'), class: %i[btn-default]
          = button 'Back to application', root_path, btn_icon: %i[fas fa-arrow-left], color: :secondary
