.d-flex.justify-content-center.align-items-center.sessions-page
  .card
    = simple_form_for model, wrapper: :input_group, url: signup_path do |f|
      .card-header.text-center
        %a.h1{href: root_path}
          = AppConfig.application_name
      .card-body
        = f.input :username, label: false, placeholder: _('User|Username')
        = f.input :email, label: false, placeholder: _('User|Email')
        = f.password :password, label: false, placeholder: _('User|Password')
        = hcaptcha_tags theme: :light
      .card-footer
        .d-grid.gap-3
          = f.save _('User|Create account')
          = button 'Back to application', root_path, btn_icon: %i[fas fa-arrow-left], color: :secondary