.d-flex.justify-content-center
  .login-box.mx-auto
    .card.card-outline.card-primary
      .card-header.text-center
        %a.h1{href: root_path}
          %b> L4N
          Dev
      .card-body
        = simple_form_for model, wrapper: :input_group, url: signup_path do |f|
          = f.input :username, label: false, placeholder: _('User|Username')
          = f.input :email, label: false, placeholder: _('User|Email')
          = f.password :password, label: false, placeholder: _('User|Password')
          .mb-3
            = hcaptcha_tags theme: :light
          .input-group.mb-3
            = f.save _('User|Create account')
        %hr
          = button 'Back to application', root_path, btn_icon: %i[fas fa-arrow-left], color: :secondary