Edit my profile

= simple_form_for model, url: profile_users_path do |f|
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :avatar
  - if model.avatar.present?
    = image_tag model.thumb_avatar
  %hr
  = f.input :website
  = f.save