= simple_form_for [:admin, model] do |f|
  .card-body
    .row
      .col-md-6
        = f.input :name
      .col-md-6
        = f.input :location
    .row
      .col-md-6
        = f.input :active, as: :select, include_blank: false
      .col-md-6
        = f.input :sidebar_active, as: :select, include_blank: false
    .row
      .col-md-6
        = f.input :timetable_enabled, as: :select, include_blank: false
      .col-md-6
        = f.input :seatmap_enabled, as: :select, include_blank: false
    .row
      .col-md-6
        = f.input :sort
      .col-md-6
        = f.input :users_may_have_multiple_tickets_assigned, as: :select, include_blank: false
    .row
      .col-md-6
        = f.input :event_start, as: :datetime, html5: true
      .col-md-6
        = f.input :event_end, as: :datetime, html5: true
  .card-footer
    = f.save
