- content_for :header_buttons do
  .d-flex.gap-1.flex-wrap
    = edit_button model, namespace: %i[admin]
    = delete_button model, namespace: %i[admin], disabled: !model.deleteable?

.row
  .col-lg-8.mb-3
    .card.mb-3
      .card-header.d-flex.justify-content-between.align-items-center
        %div= _('LanParty|Details')
        - if model.active?
          .badge.bg-success
            = _('LanParty|Active')
        - else
          .badge.bg-danger
            = _('LanParty|Not active')
      .card-body
        .row.mb-0.mb-lg-3
          .col-lg-6
            = _('LanParty|Event start')
            .small.text-muted
              - if model.event_start.present?
                = l model.event_start
              - else
                \-
          .col-lg-6
            = _('LanParty|Event end')
            .small.text-muted
              - if model.event_end.present?
                = l model.event_end
              - else
                \-
        .row.mb-0.mb-lg-3
          .col-lg-6
            = _('LanParty|Location')
            .small.text-muted
              = model.location.presence || '-'
          .col-lg-6
            = _('LanParty|Sidebar active')
            .small.text-muted
              = format_boolean model.sidebar_active
        .row.mb-0.mb-lg-3
          .col-lg-6
            = _('LanParty|Timetable enabled')
            .small.text-muted
              = format_boolean model.timetable_enabled
          .col-lg-6
            = _('LanParty|Seatmap enabled')
            .small.text-muted
              = format_boolean model.seatmap_enabled
    .card
      .card-header
        = _('LanParty|Stats')
      .card-body
        .row.mb-0.mb-lg-3
          .col-lg-6
            = _('LanParty|Total seats')
            .small.text-muted
              = model.seat_map.seats.count
          .col-lg-6
            = _('LanParty|Sold tickets')
            .small.text-muted
              = model.tickets.count
        .row.mb-0.mb-lg-3
          .col-lg-6
            = _('LanParty|Checked in users')
            .small.text-muted
              = model.tickets.checked_in.count
          .col-lg-6
            = _('LanParty|Tournaments')
            .small.text-muted
              = model.tournaments.count
        .row
          .col-lg-6
            = _('LanParty|Relevant seat categories for counter')
            .small.text-muted
              = model.seat_categories.where(relevant_for_counter: true).count
          .col-lg-6
            = _('LanParty|Counter')
            = lan_party_progress_bar(model)

  .col-lg-4
    .card.mb-3
      .card-header
        = _('LanParty|Actions & Links')
      .card-body
        .d-grid.gap-2
          = button _('Admin|LanParty|SeatCategories'), admin_lan_party_seat_categories_path(model)
          = button _('Admin|LanParty|SeatMap'), admin_lan_party_seat_map_path(model)
          = button _('Admin|LanParty|Tickets'), admin_lan_party_tickets_path(model)
          = button _('Admin|LanParty|TicketUpgrades'), admin_lan_party_ticket_upgrades_path(model)
          - if can? :manage, Tournament
            = button _('Admin|LanParty|Tournaments'), admin_tournaments_path(grids_admin_tournaments: { lan_party: model.id })
          = button _('Admin|LanParty|Timetable'), admin_lan_party_timetable_path(model)
    .card.mb-3
      .card-header
        = _('LanParty|Exports')
      .card-body
        .dropdown
          %a.btn.btn-primary.dropdown-toggle.w-100{ 'data-bs-toggle' => 'dropdown' }
            = _('LanParty|Export seats with usernames')
          %ul.dropdown-menu
            %li
              = link_to _('JSON'), export_seat_assignees_admin_lan_party_path(format: :json), class: %i[dropdown-item]
            %li
              = link_to _('CSV'), export_seat_assignees_admin_lan_party_path(format: :csv), class: %i[dropdown-item]
    .card
      .card-header
        = _('LanParty|Frontend')
      .card-body
        .d-grid.gap-2
          = button _('Admin|LanParty|Ticket scanner'), ticket_scanner_path
