- content_for :header_buttons do
  = edit_button model, namespace: %i[admin]
  = delete_button model, namespace: %i[admin], disabled: !model.deletable?

.row
  .col-md-8.mb-3.mb-md-3
    .card.mb-3
      .card-header
        = _('LanParty|Details')
      .card-body
        .row.mb-0.mb-md-3
          .col-md-6
            = _('LanParty|Event start')
            .small.text-muted
              - if model.event_start.present?
                = l model.event_start
              - else
                \-
          .col-md-6
            = _('LanParty|Event end')
            .small.text-muted
              - if model.event_end.present?
                = l model.event_end
              - else
                \-
        .row.mb-0.mb-md-3
          .col-md-6
            = _('LanParty|Location')
            .small.text-muted
              = model.location.presence || '-'
    .card
      .card-header
        = _('LanParty|Stats')
      .card-body
        .row.mb-0.mb-md-3
          .col-md-6
            = _('LanParty|Total seats')
            .small.text-muted
              = model.seat_map.seats.count
          .col-md-6
            = _('LanParty|Sold tickets')
            .small.text-muted
              = model.tickets.count
        .row
          .col-md-6
            = _('LanParty|Checked in users')
            .small.text-muted
              = model.tickets.checked_in.count
          .col-md-6
            = _('LanParty|Tournaments')
            .small.text-muted
              = model.tournaments.count

  .col.md-4
    .card
      .card-header
        = _('LanParty|Actions & Links')
      .card-body
        .d-grid.gap-2
          = button _('Admin|LanParty|SeatCategories'), admin_lan_party_seat_categories_path(model)
          = button _('Admin|LanParty|SeatMap'), admin_lan_party_seat_map_path(model)
          = button _('Admin|LanParty|Tickets'), admin_lan_party_tickets_path(model)
          = button _('Admin|LanParty|TicketUpgrades'), admin_lan_party_ticket_upgrades_path(model)
          = button _('Admin|LanParty|Tournaments'), admin_tournaments_path(grids_admin_tournaments: { lan_party: model.id })
          = button _('Admin|LanParty|Timetable'), admin_lan_party_timetable_path(model)
