- content_for :header_buttons do
  = new_button TimetableCategory, href: new_admin_lan_party_timetable_category_path(model)
  = new_button TimetableEntry, href: new_admin_lan_party_timetable_entry_path(model)

.card
  .card-body
    - model.timetable_categories.each do |category|
      .mb-3
        = category.name
        = edit_button category, namespace: %i[admin]
        = delete_button category, namespace: %i[admin]
        - category.timetable_entries.each do |entry|
          .ms-5.mb-3
            = entry.title
            = edit_button entry, namespace: %i[admin]
            = delete_button entry, namespace: %i[admin]

.card
  .card-body
    - datetime = op.lan_party.event_start.beginning_of_hour - 4.hours
    = l(datetime.to_date, format: :long)
    %br
    - while datetime <= (op.lan_party.event_end.beginning_of_hour + 4.hours)
      - if datetime.hour.zero?
        %hr
        = l(datetime.to_date, format: :long)
        %br
      = datetime.strftime("%H:%M")
      %br
      - datetime += 1.hour
