- if ticket.assignee.present?
  -# If assignee is present, we display the name of the assignee
  .me-2.flex-grow-1
    = link_to ticket.assignee, target: :_blank do
      = icon %i[fas fa-arrow-up-right-from-square]
      = ticket.assignee.username

  -# Render the button if ticket is not checked in
  -  if ticket.checked_in?
    = button nil, nil, size: :sm, disabled: true, btn_icon: %i[fas fa-user-slash fa-fw], icon_only: true, color: :danger
  - else
    = button nil,
            remove_assignee_lan_ticket_path(id: ticket.id),
            size: :sm,
            method: :post,
            btn_icon: %i[fas fa-user-slash fa-fw],
            icon_only: true,
            html: { title: _('Ticket|Remove assignation') },
            color: :danger

- else
  -# Otherwise we display the form to assign the ticket
  = simple_form_for :assignee, url: assign_lan_ticket_path(ticket), wrapper: :input_group, html: { class: 'flex-grow-1' } do |f|
    = f.input :username, label: false,
                        wrapper_html: { style: 'margin-bottom: 0 !important;' },
                        append: f.save('>', style: 'border-radius: 0; width: 2.25rem;', class: %i[rounded-end btn-sm]),
                        append_options: { class: '' },
                        placeholder: _('Seatmap|Username of user to assign to'),
                        input_html: { class: %i[py-0 seatmap-username-input] }


  -# Also, if the current user does not have a ticket assigned yet for this lan,
  -# we display a "assign to myself" button
  - if op.ticket_for_lan_party.nil?
    .ms-2
      = button nil,
              assign_lan_ticket_path(id: ticket.id, user_id: current_user.id),
              size: :sm,
              method: :post,
              btn_icon: %i[fas fa-user-plus fa-fw],
              icon_only: true,
              html: { title: _('Ticket|Assign to myself') }
