- provide :page_title, _('Tickets|Manage')

= turbo_frame_tag :user_ticket do
  = render partial: 'lan/tickets/user_ticket'

.card.mb-3
  .card-header
    = _('Tickets|Purchased tickets')
  .card-body
    .small.text-muted.mb-3= _('Tickets|Ticket manage view hint')

    = turbo_frame_tag :tickets do
      = render partial: 'tickets'
.card
  .card-header
    = _('TicketUpgrades|Purchased ticket upgrades')
  .card-body
    - if op.ticket_upgrades.none?
      = _('TicketUpgrades|You don\'t have any upgrades for this event')
    - else
      %table.table
        %tr
          %th= _('TicketUpgrade|From category')
          %th= _('TicketUpgrade|To category')
          %th= _('TicketUpgrade|Used')
        - op.ticket_upgrades.order(:id).each do |ticket_upgrade|
          %tr
            %td
              - category = ticket_upgrade.from_product.seat_category
              -# haml-lint:disable InlineStyles
              .badge{ style: "background-color: #{category.color_for_view}; color: #{category.font_color_for_view};" }
                = category.name
              -# haml-lint:enable InlineStyles
            %td
              - category = ticket_upgrade.to_product.seat_category
              -# haml-lint:disable InlineStyles
              .badge{ style: "background-color: #{category.color_for_view}; color: #{category.font_color_for_view};" }
                = category.name
              -# haml-lint:enable InlineStyles
            %td= format_boolean ticket_upgrade.used?
