- provide :page_title, _('My Ticket')

.row
  .col-md-6.mb-3
    .card
      .card-header
        = _('Ticket|Ticket for %{lan_name}') % { lan_name: op.lan_party.name }
      .card-body
        .text-center= op.qr_code.html_safe # rubocop:disable Rails/OutputSafety
  .col-md-6
    .card
      .card-header
        = _('Ticket|Details')
      %table.table.table-striped.table-borderless.mb-0.table-hover
        %tr
          %td= _('Ticket|Username')
          %td= current_user.username
        %tr
          %td= _('Ticket|Seat')
          %td
            - if op.ticket.seat.present?
              = link_to lan_seatmap_path(highlight: op.ticket.seat.id) do
                = icon %i[fas fa-arrow-up-right-from-square]
                = op.ticket.seat.name_or_id
            - else
              \-
        %tr
          %td= _('Ticket|Seat category')
          %td
            -# haml-lint:disable InlineStyles
            .badge{ style: "background-color: #{op.ticket.seat_category.color_for_view}; color: #{op.ticket.seat_category.font_color_for_view}" }
              = op.ticket.seat_category.name
            -# haml-lint:enable InlineStyles
        %tr
          %td= _('Ticket|Product_variant_name')
          %td= op.ticket.product_variant_name.presence || '-'
        %tr
          %td= _('Ticket|Status')
          %td= op.ticket.humanized_status
        %tr.border-top.border-dark
          %td= _('Ticket|Event name')
          %td= op.lan_party.name
        - if op.lan_party.location.present?
          %tr
            %td= _('Ticket|Event location')
            %td= op.lan_party.location
        %tr
          %td= _('Ticket|Event start')
          %td= l op.lan_party.event_start
        %tr
          %td= _('Ticket|Event end')
          %td= l op.lan_party.event_end
