- provide :page_title, _('Tournaments')

.row
  - op.tournaments.each do |tournament|
    .col-md-4.mb-3
      .card
        .card-header.d-flex.justify-content-between.align-items-center
          %b= tournament.name
          - if tournament.lan_party.present?
            .text-muted
              = tournament.lan_party.name
        .card-body
          .mb-2
            = _('Tournament|Team types')
            .small.text-muted
              - if tournament.singleplayer?
                = icon %i[fas fa-user]
                = _('Team|1 player')
              - else
                = icon %i[fas fa-users]
                = _('Team|%{count} players') % { count: tournament.team_size }
          .mb-2
            = _('Tournament|Number of Participants')
            .small.text-muted
              = "#{tournament.teams.in_tournament.count} / #{tournament.max_number_of_participants}"
          %hr
            = format_registration_status(tournament)
        .card-footer
          = show_button tournament, size: :sm
