- provide :page_title, _('Tournaments')

.row
  - op.tournaments.each do |tournament|
    - cache [tournament, I18n.locale, :frontend, :tournament_index] do
      .col-md-6.mb-3
        .card
          .card-header.d-flex.justify-content-between.align-items-center
            = link_to tournament_path(tournament) do
              %h4.mb-0= tournament.name
            = format_registration_status(tournament)
          .card-body
            .row
              .col-md-6
                = _('Tournament|Participants')
                .small.text-muted
                  - if tournament.singleplayer?
                    = icon %i[fas fa-user]
                    = "#{tournament.teams.in_tournament.count} / #{tournament.max_number_of_participants} #{_('Players')}"
                  - else
                    = icon %i[fas fa-users]
                    = "#{tournament.teams.in_tournament.count} / #{tournament.max_number_of_participants} #{_('Teams')}"
              - if tournament.lan_party.present?
                .col-md-6
                  = _('Tournament|LanParty')
                  .small.text-muted
                    = tournament.lan_party.name
