%h1.mb-3= model.name

.row
  .col-md-12
    .card.mb-3
      .card-body
        %ul.nav.nav-pills
          %li.nav-item
            %a.nav-link.active{ href: '#' }= _('Tournament|Info')
          %li.nav-item
            = link_to _('Tournament|Teams'), tournament_teams_path(model), class: 'nav-link'
          %li.nav-item
            = link_to _('Tournament|Standings'), tournament_standings_path(model), class: 'nav-link'
  .col-md-8
    .card
      .card-header
        = _('Tournament|Tournament details')
      .card-body
        .row
          .col-md-6
            = _('Tournament|Participants')
            .small.text-muted
              - if model.singleplayer?
                = icon %i[fas fa-user]
                = "#{model.teams.in_tournament.count} / #{model.max_number_of_participants} #{_('Players')}"
              - else
                = icon %i[fas fa-users]
                = "#{model.teams.in_tournament.count} / #{model.max_number_of_participants} #{_('Teams')}"
          - if model.lan_party.present?
            .col-md-6
              = _('Tournament|LanParty')
              .small.text-muted
                = model.lan_party.name
    - if model.description.present?
      .card.mt-3
        .card-header
          = _('Tournament|Description')
        .card-body
          = markdown model.description
    - if model.files.any?
      .card.mt-3
        .card-header
          = _('Tournament|Files')
        %table.table.table-hover.mb-0
          - model.files.each do |file|
            %tr
              %td.ps-3
                = link_to rails_blob_path(file, disposition: 'inline'), target: :_blank, rel: :noopener do
                  = file.filename
                  = icon %i[fas fa-arrow-up-right-from-square]
              %td= number_to_human_size(file.blob.byte_size)
  .col-md-4
    = render partial: 'actions_sidebar', locals: { tournament: model, op: op }
