:ruby
  available_products = Queries::Lan::CountRelevantProductInventory.call(lan_party: lan_party)
  sold_tickets = Queries::Lan::CountRelevantTickets.call(lan_party: lan_party)
  if available_products.zero?
    percentage = 0
  else
    percentage = (sold_tickets / available_products.to_f) * 100.0
  end

  if percentage < 50
    color = "rgb(#{(percentage * 5.1).ceil}, 255, 0)"
  else
    color = "rgb(255, #{((100 - percentage) * 5.1).ceil}, 0)"
  end

.progress.ticket-progress
  .progress-bar
    = sold_tickets
    \/
    = available_products

:css
  .progress-bar {
    background: linear-gradient(to right, #{color} #{percentage}%, transparent #{percentage}%);
  }
