- if images.count == 1
  .startpage-image{style: "height: #{height}px;"}
    = image_tag images.first
- else
  #startpageBannerImages.carousel.slide{"data-bs-ride" => "true", style: "height: #{height}px;"}
    .carousel-indicators
      - images.count.times do |index|
        %button{"data-bs-slide-to" => "#{index}", "data-bs-target" => "#startpageBannerImages", class: ('active' if index == 0)}
    .carousel-inner
      - images.each_with_index do |image, index|
        .carousel-item{class: ('active' if index == 0)}
          = image_tag image, class: 'd-block'
    %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#startpageBannerImages"}
      %span.carousel-control-prev-icon
    %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#startpageBannerImages"}
      %span.carousel-control-next-icon