%h3 Welcome to L4N


= button 'Primary', root_path, color: :primary
= button 'Button', root_path, color: :secondary
= button 'Button', root_path, color: :success
= button 'Button', root_path, color: :warning
= button 'Button', root_path, color: :info
= button 'Button', root_path, color: :danger
= button 'Button', root_path, color: :dark

%hr

= button 'Primary', root_path, color: :primary, outline: true
= button 'Button', root_path, color: :secondary, outline: true
= button 'Button', root_path, color: :success, outline: true
= button 'Button', root_path, color: :warning, outline: true
= button 'Button', root_path, color: :info, outline: true
= button 'Button', root_path, color: :danger, outline: true
= button 'Button', root_path, color: :dark, outline: true

%hr

.alert.alert-primary
  Alert
.alert.alert-secondary
  Alert
.alert.alert-success
  Alert
.alert.alert-warning
  Alert
.alert.alert-info
  Alert
.alert.alert-danger
  Alert
.alert.alert-dark
  Alert
