- content_for :page_title do
  = _('PaypalPaymentGateway|Title')

.alert.alert-warning.countdown{ data: { time: op.result[:valid_until], redirect: main_app.shop_cart_url } }
  = _('PaypalPaymentGateway|Time left:')
  %span#time-left= _('PaypalPaymentGateway|Countdown loading...')

.row
  .col-xl-6.mb-3.mb-xl-0
    .card
      .card-header
        = _('PaypalPaymentGateway|Payment details')
      .card-body
        = _('PaypalPaymentGateway|Description')
      .card-footer.d-flex.flex-wrap.gap-2
        #paypal-button-container.d-inline{data: { production: Rails.env.production?.to_s,
                                         payment_create_url: create_payment_path(order_id: op.result[:order_id]),
                                         payment_execute_url: execute_payment_path(order_id: op.result[:order_id]) }}
        = link_to _('PaypalPaymentGateway|Cancel'), main_app.shop_cart_path, class: 'btn btn-danger paypal-cancel-btn'
  .col-xl-6
    .card
      .card-header
        = _('PaypalPaymentGateway|Order details')
      .card-body.p-0
        %table.table.table-borderless.mb-0
          %tr
            %th= _('Order|Product')
            %th= _('Order|Quantity')
            %th= _('Order|Total')
          - op.result[:items].each do |item|
            %tr
              %td= item[:product]
              %td= item[:quantity]
              %td= PaypalPayment::ApplicationController.money_formatted(item[:total])
          - op.result[:promotion_codes].each do |promotion_code|
            %tr
              %td= "#{_('Order|PromotionCode')} #{promotion_code[:name]}"
              %td= 1
              %td.text-success= PaypalPayment::ApplicationController.money_formatted(-promotion_code[:reduction])
          %tr.border-top
            %td= _('Order|Total')
            %td
            %td= PaypalPayment::ApplicationController.money_formatted(op.result[:total])

:javascript
  (function() {
    setupCountdownTimer();
    setupPaypalButton();
  })();
