- provide :page_title, _('Events')

.card
  .card-body
    %h3.mb-1= model.title
    .mb-3
      .text-muted
        = _('Event|From %{start_date} to %{end_date}') % { start_date:  l(model.next_date.start_date, format: :short), end_date:  l(model.next_date.end_date, format: :short)}
      - if model.next_date.location.present?
        .text-muted
          = "#{_('Event|Location')}:"
          = model.next_date.location

    = markdown(model.description)

  - if model.event_dates.count > 1
    .card-footer
      .mb-3= _('Event|This event will take place at the following dates')
      %table.table.table-striped.mb-2
        %tr
          %th= _('EventDate|Start')
          %th= _('EventDate|End')
          %th= _('EventDate|Location')
        - model.event_dates.order(:start_date).each do |event_date|
          %tr{class: ('strikethrough' if event_date.end_date.past?)}
            %td= l(event_date.start_date, format: :short)
            %td= l(event_date.end_date, format: :short)
            %td= event_date.location.presence || '-'
