%h1= model.title

%h4= _('Event|Info')

%p
  %b= _('Event|Start date')
  = model.next_date.start_date || '-'
%p
  %b= _('Event|End date')
  = model.next_date.end_date || '-'

%hr
= markdown(model.description)