%h3= _('NewsPosts')

%hr

%table{class: 'table table-striped'}
  - op.posts.each do |p|
    %tr
      %td= p.title
      %td= p.published_at
      %td= p.user.email
      %td
        = show_button p, href: news_path(p), size: :sm, icon_only: true

= paginate op.posts