.card
  .list-group.list-group-flush
    = link_to _('Settings|Profile'), settings_profile_path, class: nav_item_classes(controller: 'settings/profile')
    = link_to _('Settings|Avatar'), settings_avatar_path, class: nav_item_classes(controller: 'settings/avatar')
    = link_to _('Settings|Addresses'), settings_user_addresses_path, class: nav_item_classes(controller: 'settings/user_addresses')
    = link_to _('Settings|2FA'), settings_two_factor_path, class: nav_item_classes(controller: 'settings/two_factor')
    = link_to _('Settings|Account'), settings_account_path, class: nav_item_classes(controller: 'settings/account')