.card.mb-3
  .card-body.p-0
    .list-group.list-group-flush
      = link_to _('Settings|Profile'), settings_profile_path, class: nav_item_classes(controller: 'settings/profile')
      = link_to _('Settings|Avatar'), settings_avatar_path, class: nav_item_classes(controller: 'settings/avatar')
      = link_to _('Settings|Game accounts'), settings_gameaccounts_path, class: nav_item_classes(controller: 'settings/gameaccounts')
      - if FeatureFlag.enabled?(:api_and_oauth)
        = link_to _('Settings|Authorized oauth apps'), oauth_authorized_applications_path, class: nav_item_classes(controller: 'doorkeeper/authorized_applications')
      = link_to _('Settings|2FA'), settings_two_factor_path, class: nav_item_classes(controller: 'settings/two_factor')
      = link_to _('Settings|Delete my account'), settings_account_path, class: nav_item_classes(controller: 'settings/account')
  .card-footer
    = button _('User|Show my profile'), current_user, size: :sm, color: :default
