- provide :page_title, _('Settings|Activate 2FA')

.row
  .col-md-3
    = render partial: 'sidebar'
  .col-md-9
    .card
      = simple_form_for :two_factor do |f|
        .card-body
          = op.qr_code.html_safe
          %hr
          = f.input :otp_response_code
        .card-footer
          = f.save _('Settings|Save two factor code')