- provide :page_title, _('Settings|Edit profile')

.row
  .col-md-3
    = render partial: 'sidebar'
  .col-md-9
    .card
      = simple_form_for model, url: profile_settings_path, wrapper: :input_group do |f|
        .card-body
          = f.input :username
          = f.input :email
          = f.input :password, placeholder: _('Settings|Password|Leave blank to keep current password'), append: icon(%i[fa fa-eye-slash fa-fw]), input_html: { data: { component: 'PasswordVisibilityToggler' } }
          = f.input :password_confirmation, placeholder: _('Settings|Password confirmation|Leave blank to keep current password'), append: icon(%i[fa fa-eye-slash fa-fw]), input_html: { data: { component: 'PasswordVisibilityToggler' } }
          %hr
          = f.input :website
        .card-footer
          = f.save _('Settings|Update profile')