- provide :page_title, _('Settings|Activate 2FA')

.row
  .col-md-3
    = render partial: 'settings/sidebar'
  .col-md-9
    .card
      = simple_form_for :two_factor do |f|
        .card-body
          .row
            .col-md-6
              %h5= _('TwoFactor|Scan code with auth app')
              .text-center.border-top.border-bottom.py-3.my-3
                = op.qr_code.html_safe
              .text-muted
                = _('TwoFactor|If you cannot scan, please enter the following code manually:')
                %code= current_user.otp_secret
            .col-md-6
              %h5= _('TwoFactor|Save the backup codes')
              .bg-light.p-2
                .row
                  - op.otp_backup_codes.each do |code|
                    .col-md-6= code

          %hr
          = f.input :otp_response_code, input_html: { inputmode: :numeric, placeholder: 'xxxxxx' }
          = f.input :backup_codes_saved, as: :boolean
        .card-footer
          = f.save _('Settings|Save two factor code')