- provide :page_title, _('Settings|2FA')

.row
  .col-md-3
    = render partial: 'settings/sidebar'
  .col-md-9
    .card
      - if current_user.otp_required_for_login?
        .card-body
          .alert.alert-success.rounded-0.p-2.mb-0
            = icon %i[fas fa-check fa-fw]
            = _('User|TwoFactor|Enabled')
        .card-footer
          = delete_button(current_user, href: settings_two_factor_deactivate_path, title: _('User|Remove 2FA'), html: { data: { confirm: _('User|Remove 2FA confirmation') } })
      - else
        .card-body
          .alert.alert-danger.rounded-0.p-2.mb-0
            = icon %i[fas fa-times fa-fw]
            = _('User|TwoFactor|Not enabled')
        .card-footer
          = button _('User|Add 2FA'), settings_two_factor_activate_path, color: :default