- provide :page_title, _('Settings|2FA')

.row
  .col-md-3
    = render partial: 'settings/sidebar'
  .col-md-9
    .card
      - if current_user.otp_required_for_login?
        .card-body
          .alert.alert-success.rounded-0.p-2.mb-0
            = icon %i[fas fa-check fa-fw]
            = _('User|TwoFactor|Enabled')
          %hr
          .mt-3
            = simple_form_for :data,
                              url:     settings_two_factor_deactivate_path,
                              method:  :delete,
                              wrapper: :input_group do |f|
              = f.input :otp_code, input_html: { placeholder: _('User|Enter otp code to remove 2FA from your account') }
              = f.save _('User|Remove 2FA'), class: %i[btn-danger], data: { confirm: _('User|Remove 2FA confirmation'), controller: 'button', action: 'click->button#confirmAction' }
      - else
        .card-body
          .alert.alert-danger.rounded-0.p-2.mb-0
            = icon %i[fas fa-times fa-fw]
            = _('User|TwoFactor|Not enabled')
        .card-footer
          = button _('User|Add 2FA'), settings_two_factor_activate_path, color: :default
