.card
  .card-body
    .match.d-flex.justify-content-around.align-items-center.border-bottom.py-3
      .opponent
        %h2= model.home&.team&.name.presence || _('Match|Tbd')
      .versus
        = format_match_score_large(model, model.home)
        = format_match_score_large(model, model.away)
      .opponent
        %h2
          - if model.away
            =  model.away.team.name
          - elsif model.winner.present?
            = _('Match|Bye')
          - else
            = _('Match|Tbd')
    .pt-3
      - if model.result_updateable?
        - teams = [model.home, model.away]

        = simple_form_for model, url: admin_match_path(model) do |f|
          .row
            .col-md-6
              = f.input :home_score
            .col-md-6
              = f.input :away_score
          = f.input :winner_id, as: :select,
                                collection: teams,
                                include_blank: _('Form|Select|Blank')
          - if model.phase.swiss?
            = f.input :draw, input_html: { class: 'no-validation' }
          = f.save _('Admin|Match|Submit result')
      - else
        = _('Admin|Match|Not updateable hint')