.card
  .card-header.d-flex.justify-content-between.align-items-center
    %h4.mb-0= "#{phase.phase_number}. #{phase.name}"
    .text-muted= phase.humanized_tournament_mode
  .card-body
    .single-elimination-tournament-tree.mb-3
      - total_rounds = phase.rounds.count
      - phase.rounds.order(:round_number).each do |round|
        - cache [round, I18n.locale, :fontent, :tournament_standings_single_elim_round, current_user] do
          -# Calculate the number of matches, which is 2 to the power of
          -# "current_round index", where the final has index 0 and earlier
          -# rounds have higher indices
          - number_of_matches = 2**(round.round_number - total_rounds).abs

          .tournament-round
            -# Create the boxes for the matches. If we have matches,
            -# we directly render these, otherwise we render the calculated
            -# number of matches for the current round
            - if round.matches.any?
              - round.matches.order(:id).includes(away: :team, home: :team).each do |match|
                - content_for :match, flush: true do
                  .d-flex.justify-content-between
                    .matchteam
                      = match.home.team.name
                    .matchscore
                      = format_match_score(match, :home)
                  .d-flex.justify-content-between
                    .matchteam
                      = match.away&.team&.name || _('Match|Bye')
                    .matchscore
                      = format_match_score(match, :away)

                - if can_update_result?(match)
                  %a.match{ href: edit_match_path(match) }
                    = yield :match
                - else
                  .match
                    = yield :match

            - else
              - number_of_matches.times do
                .match
                  .d-flex.justify-content-between
                    .matchteam
                      = _('Match|Tbd')
                    .matchscore
                      &mdash;
                  .d-flex.justify-content-between
                    .matchteam
                      = _('Match|Tbd')
                    .matchscore
                      &mdash;

          -# We don't need to do this after the last match
          - unless number_of_matches == 1
            -# Generate the outgoing horizontal connectors
            .round-connectors-horizontal
              - number_of_matches.times do
                %div

            -# Generate the vertical connectors
            .round-connectors-vertical{ class: round_matches_to_inverse_round_index_word(number_of_matches) }
              - (number_of_matches / 2).times do
                %div

            -# Finally, generate the incoming horizontal connectors
            .round-connectors-horizontal
              - (number_of_matches / 2).times do
                %div
