%h1.mb-3= op.tournament.name

.row
  .col-md-12
    .card.mb-3
      .card-body
        %ul.nav.nav-pills
          %li.nav-item
            = link_to _('Tournament|Info'), tournament_path(op.tournament), class: 'nav-link'
          %li.nav-item
            = link_to _('Tournament|Teams'), tournament_teams_path(op.tournament), class: 'nav-link'
          %li.nav-item
            %a.nav-link.active{ href: '#' }= _('Tournament|Standings')
  .col-md-12
    - last_phase = op.phases.first
    - if last_phase&.completed? && (last_phase&.single_elimination? || last_phase&.double_elimination?)
      .card.mb-3
        .card-header.d-flex.justify-content-between.align-items-center
          %h4.mb-0= _('Tournament|Final Standings')
        .card-body
          - cache [last_phase, I18n.locale, :frontend, :phase_standings] do
            - last_phase.final_standings.each_with_index do |teamname, index|
              .d-flex.align-items-center.py-1{ class: ('border-top' unless index.zero?) }
                = format_medal(index + 1)
                = teamname

    - any_relevant_phase = false
    - op.phases.each do |phase|
      - next unless phase.confirmed? || phase.running? || phase.completed?

      - any_relevant_phase = true
      .mb-3
        - if phase.swiss?
          = render partial: 'swiss_rounds', locals: { phase: phase }
        - elsif phase.single_elimination?
          = render partial: 'single_elimination_tree', locals: { phase: phase }
        - elsif phase.double_elimination?
          = render partial: 'double_elimination_tree', locals: { phase: phase }

    - unless any_relevant_phase
      .card.mb-3
        .card-body
          = _('Tournament|No phases yet')
