= render partial: 'shop/shared/header'
= turbo_frame_tag 'payment_gateways'

.row
  - op.products.each do |product|
    .col-xl-4.col-lg-6.d-flex.align-items-stretch.mb-4.mb-md-3
      .card.w-100
        .card-body
          %small.text-muted
            = product.product_category.name
          %h4.product_title
            = link_to product.name, [:shop, product]
        .card-footer
          .product-price
            = _('Product|Starting from %{start_price}') % { start_price: money_formatted(product.starting_price) }