.d-flex.justify-content-center.align-items-center.sessions-page
  .card
    = simple_form_for resource, as: resource_name,
                                  url: session_path(resource_name),
                                  html: { data: { turbo: false} },
                                  wrapper: :input_group do |f|
      .card-header.text-center
        %a.h1{href: root_path}
          = AppConfig.application_name
      .card-body.pb-1
        = f.input :email, label: false, placeholder: _('User|Email')
        = f.password :password, label: false, placeholder: _('User|Password'), wrapper_html: { style: 'margin-bottom: 0.25rem !important;' }
        .mb-3.text-end
          %small= link_to _('Session|Forgot password'), new_password_path(resource_name)
        - if devise_mapping.rememberable?
          .input-group
            = f.input :remember_me, as: :boolean,
                                    label: _('Session|Remember me'),
                                    input_html: { class: 'checkbox-primary no-validation' },
                                    wrapper_html: { style: 'margin-bottom: 0.25rem !important;' }
      .card-footer
        .d-grid.gap-3
          = f.save _('Session|Log in'), class: %i[btn-default]
          = button _('Session|Back to application'), root_path, color: :secondary