= simple_form_for [:admin, model] do |f|
  .card-body
    = f.input :title
    = f.markdown :content, preview_url: admin_markdown_preview_path
    = f.input :published, input_html: { class: 'no-validation' }
  .card-footer
    = f.save
