= simple_form_for [:admin, model] do |f|
  .card-body
    = f.input :title
    = f.input :content, input_html: { data: { preview_url: preview_markdown_admin_news_posts_path , controller: 'admin--markdown-editor' } }
    = f.input :published, input_html: { class: 'no-validation' }
  .card-footer
    = f.save