- provide :page_title, _('Admin|NewsPosts')

= new_button NewsPost, namespace: %i[admin]

%hr

%table{class: 'table table-striped'}
  %tr
    %th= _('NewsPosts|Title')
    %th= _('NewsPosts|Published')
    %th= _('NewsPosts|Published at')
    %th= _('NewsPosts|Author')
    %th
  - op.posts.each do |p|
    %tr
      %td= p.title
      %td= p.published
      %td= p.published_at.present? ? p.published_at : '--'
      %td= p.user.email
      %td.tar
        = edit_button p, namespace: %i[admin], size: :sm, icon_only: true
        = delete_button p, namespace: %i[admin], size: :sm, icon_only: true