- provide :page_title, _('NewsPosts|New')

= simple_form_for model, url: admin_news_posts_path do |f|
  = f.input :title
  = f.input :content, input_html: { data: { preview_url: preview_markdown_admin_news_posts_path } }
  = f.input :published
  = f.save