= simple_form_for model, url: admin_settings_path, method: :patch do |f|
  .card.mb-3
    .card-header
      = _('Settings|Scope|Application')
    .card-body
      = f.input :application_name,
                input_html: { value: op.entered_values[:application_name].presence || AppConfig.application_name },
                label:      _('Admin|Settings|Application name')
      = f.input :favicon_url,
                input_html: { value: op.entered_values[:favicon_url].presence || AppConfig.favicon_url },
                label:      _('Admin|Settings|Favicon URL'),
                hint:       _('Admin|Settings|Favicon URL hint')

  .card.mb-3
    .card-header
      = _('Settings|Scope|Shop')
    .card-body
      = f.input :enable_terms_and_conditions,
                input_html:    { value: op.entered_values[:enable_terms_and_conditions].presence || AppConfig.enable_terms_and_conditions },
                as:            :select,
                include_blank: false,
                collection:    [[_('Yes'), true], [_('No'), false]],
                label:         _('Admin|Settings|Enable terms and conditions')
      = f.input :terms_and_conditions_url,
                input_html: { value: op.entered_values[:terms_and_conditions_url].presence || AppConfig.terms_and_conditions_url },
                label:      _('Admin|Settings|Terms and conditions URL')

  .card.mb-3
    .card-header
      = _('Settings|Scope|Sidebar')
    .card-body
      = f.input :enable_lan_party_block,
                input_html:    { value: op.entered_values[:enable_lan_party_block].presence || AppConfig.enable_lan_party_block },
                as:            :select,
                include_blank: false,
                collection:    [[_('Yes'), true], [_('No'), false]],
                label:         _('Admin|Settings|Enable lan party block')
      = f.input :enable_events_block,
                input_html:    { value: op.entered_values[:enable_events_block].presence || AppConfig.enable_events_block },
                as:            :select,
                include_blank: false,
                collection:    [[_('Yes'), true], [_('No'), false]],
                label:         _('Admin|Settings|Enable events block')
      = f.input :enable_news_block,
                input_html:    { value: op.entered_values[:enable_news_block].presence || AppConfig.enable_news_block },
                as:            :select,
                include_blank: false,
                collection:    [[_('Yes'), true], [_('No'), false]],
                label:         _('Admin|Settings|Enable news block')
  .card.mb-3
    .card-header
      = _('Settings|Scope|User')
    .card-body
      = f.input :enforce_2fa_for_sensitive_admin,
                input_html:    { value: op.entered_values[:enforce_2fa_for_sensitive_admin].presence || AppConfig.enforce_2fa_for_sensitive_admin },
                as:            :select,
                include_blank: false,
                collection:    [[_('Yes'), true], [_('No'), false]],
                label:         _('Admin|Settings|Enforce 2FA for sensitive admin')
    .card-footer
      = f.save _('Admin|Settings|Save')
