- content_for :header_buttons do
  = button _('Admin|Settings|Edit settings'), edit_admin_settings_path, btn_icon: %i[fa fa-fw fa-edit]

.card
  .card-body
    %table.table
      %tr
        %td{colspan: 2}
          %b= _('Settings|Scope|Application')
      %tr
        %td{style: 'text-indent: 1em;'}= _('Admin|Settings|Application name')
        %td= AppConfig.application_name
      %tr
        %td{colspan: 2}
          %b= _('Settings|Scope|Sidebar')
      %tr
        %td{style: 'text-indent: 1em;'}= _('Admin|Settings|Enable lan party block')
        %td= format_boolean AppConfig.enable_lan_party_block
      %tr
        %td{style: 'text-indent: 1em;'}= _('Admin|Settings|Enable events block')
        %td= format_boolean AppConfig.enable_events_block
      %tr
        %td{style: 'text-indent: 1em;'}= _('Admin|Settings|Enable news block')
        %td= format_boolean AppConfig.enable_news_block
