- provide :page_title, _('Settings|Edit avatar')
- avatar_present = current_user.avatar.present?

.row
  .col-md-3
    = render partial: 'settings/sidebar'
  .col-md-9
    .card{ data: { controller: 'image-cropper' } }
      .card-body
        .image-cropper
          .row
            .col-md-6
              %h4.mb-3= _('User|Crop your avatar')
              .canvas-wrapper
                - url = avatar_present ? url_for(current_user.avatar) : nil
                %canvas{ width: '300', height: '300', data: { initial: url, 'image-cropper-target' => 'canvas' } }
            .col-md-6
              %h4.mb-3= _('User|Preview your avatar')
              .cropper-preview
          %hr
          .input-group.mb-3
            %input.d-none{ type: 'file', id: 'imageLoader', name: 'imageLoader', data: { 'image-cropper-target' => 'imageLoader' } }
            %span.form-control{ type: 'text', data: { 'image-cropper-target' => 'fileNameList' } }
            .input-group-append
              %label{ for: 'imageLoader', class: 'btn btn-outline-default mb-0 font-weight-normal' }= _('ImageUploader|Select file')
      .card-footer
        = button _('User|Upload avatar'),
                nil,
                html: { data: { url: '/settings/avatar', 'image-cropper-target' => 'uploadButton', 'action' => 'click->image-cropper#uploadImage' } },
                disabled: !avatar_present,
                color: :default
        - if avatar_present
          = delete_button nil, title: _('User|Remove avatar'), href: settings_avatar_path
