.card
  .card-body
    .row.pb-3.mb-2.border-bottom
      .col-md-4
        .text-muted= _('Order|User')
        = op.order.user.username
      .col-md-4
        .text-muted= _('Order|Total to pay')
        %b= money_formatted(op.order.total)
    .my-3= _('Order|Order details')
    .row.border-bottom.pb-3.mb-2
      .col-md-4
        .text-muted= _('Order|Payment gateway name')
        = op.order.payment_gateway_name
      .col-md-4
        .text-muted= _('Order|Payment gateway payment id')
        = op.order.payment_gateway_payment_id.presence || '-'

    .my-3= _('Order|Order items')
    %table.table.table-bordered
      %tr
        %th= _('OrderItem|Item')
        %th= _('OrderItem|Quantity')
        %th= _('OrderItem|Price')
        %th= _('OrderItem|Total')
      - op.order.order_items.each do |order_item|
        %tr
          %td= order_item.product_name
          %td= order_item.quantity
          %td= money_formatted order_item.price
          %td= money_formatted order_item.total
      - op.order.promotion_code_mappings.each do |code_matching|
        %tr
          %td{ colspan: 3 }= "#{_('Order|PromotionCode')} #{code_matching.promotion_code.promotion.name}"
          %td.text-success= money_formatted(-code_matching.applied_reduction)
      %tr.border-top
        %td{ colspan: 3 }= _('Order|Total')
        %td= money_formatted(op.order.total)
    .border-top.pt-3
      = simple_form_for op.order, url: admin_shop_payment_assist_order_paid_path(op.order), wrapper: :input_group do |f|
        = f.input :payment_gateway_payment_id, label: _('PaymentAssist|Optional payment id'), placeholder: _('PaymentAssist|Optional payment id placeholder')
        = f.save _('PaymentAssist|Order paid button')
