= render partial: 'shop/shared/header'

.row
  .col-md-8.mb-3
    .card
      .card-body
        -# Name & category
        %h3= model.name
        .mb-3.text-muted= model.product_category.name
        %hr

        -# Screenshots
        - if model.images.attached?
          .carousel.slide.carousel-dark#product-images{ 'data-bs-ride' => 'true' }
            .carousel-indicators
              - model.images.count.times do |index|
                %button{ data: { 'bs-slide-to' => index.to_s, 'bs-target' => '#product-images' }, class: ('active' if index.zero?) }
            .carousel-inner
              - model.images.each_with_index do |image, index|
                .carousel-item{ class: ('active' if index.zero?) }
                  = image_tag image.variant(:medium).processed, class: 'd-block'
            %button.carousel-control-prev{ data: { 'bs-slide' => 'prev', 'bs-target' => '#product-images' } }
              %span.carousel-control-prev-icon
            %button.carousel-control-next{ data: { 'bs-slide' => 'next', 'bs-target' => '#product-images' } }
              %span.carousel-control-next-icon
          %hr

        -# Description
        = markdown(model.description).presence || _('Product|No description')
  .col-md-4
    .card
      .card-body
        - model.product_variants.each_with_index do |product_variant, index|
          - unless index.zero?
            %hr
          .d-grid{ class: ('mt-3' unless index.zero?) }
            .mb-2.d-flex.justify-content-between
              %div= product_variant.name
              %div= money_formatted(product_variant.price)
            - if current_user
              - if op.requested_quantity >= model.availability
                = button _('Shop|Sold out'), nil, disabled: true, color: :default
              - else
                = button _('Shop|Add to cart'), add_to_cart_shop_product_variant_path(product_variant),
                  btn_icon: %i[fas fa-cart-arrow-down], method: :post,
                  size: :sm, color: :default
            - else
              = button _('Shop|Please log in to purchase this product'), nil, size: :sm, disabled: true, color: :default
