= render partial: 'shop/shared/header'

.row
  .col-md-8.mb-3
    .card
      .card-body
        -# Name & category
        %h3= model.name
        .mb-3.text-muted= model.product_category.name
        %hr

        -# Screenshots
        - if model.images.attached?
          #productImages.carousel.slide.carousel-dark{"data-bs-ride" => "true"}
            .carousel-indicators
              - model.images.count.times do |index|
                %button{"data-bs-slide-to" => "#{index}", "data-bs-target" => "#productImages", class: ('active' if index == 0)}
            .carousel-inner
              - model.images.each_with_index do |image, index|
                .carousel-item{class: ('active' if index == 0)}
                  = image_tag image.variant(:medium).processed, class: 'd-block'
            %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#productImages"}
              %span.carousel-control-prev-icon
            %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#productImages"}
              %span.carousel-control-next-icon
          %hr

        -# Description
        = markdown(model.description).presence || _('Product|No description')
  .col-md-4
    .card
      .card-body
        - model.product_variants.each_with_index do |product_variant, index|
          - unless index == 0
            %hr
          .d-grid{class: ('mt-3' unless index == 0)}
            .mb-2.d-flex.justify-content-between
              %div= product_variant.name
              %div= money_formatted(product_variant.price)
            - if current_user
              = button 'Add to cart', add_to_cart_shop_product_variant_path(product_variant),
                btn_icon: %i[fas fa-cart-arrow-down], method: :post,
                disabled: op.requested_quantity >= model.availability, size: :sm
            - else
              = button _('Shop|Please log in to purchase this product'), nil, size: :sm, disabled: true