- provide :shop_page_title, model.name
= render partial: 'shop/shared/header'

.card
  .card-body
    .mb-3
      .text-muted= _('Product|Description')
      = model.description.presence || _('Product|No description')
    .mb-3
      .text-muted= _('Product|Product variants')
      - model.product_variants.each do |product_variant|
        .mt-3
          = product_variant.name
          = humanized_money_with_symbol(product_variant.price)
          = product_variant.inventory
          = button 'Add to cart', add_to_cart_shop_product_variant_path(product_variant), btn_icon: %i[fas fa-cart-arrow-down], method: :post, disabled: product_variant.availability.zero?, size: :sm