- content_for :header_buttons do
  = new_button Product, namespace: %i[admin shop]

.card
  .card-body
    = simple_form_for op.grid, url: admin_shop_products_path, method: :get do |f|
      .row.mb-3
        .select.optional.col-xl-4.col-md-6.col-12.mb-2
          = f.label :include_archived
          = f.datagrid_filter :include_archived, class: 'form-select rounded-0 select optional'
        .d-flex.align-items-end.gap-1.col-xl-3.col-md-6.col-12.mb-2
          = f.save _('Apply filter')
          = button _('Search|Reset'), admin_shop_products_path, color: :secondary
    = datagrid_table op.grid, html: { class: 'table' }
