<p><%= _('Mailer|Reset Password|Greeting %{user_name}') % { user_name: @resource.username } %></p>

<p><%= _('Mailer|Reset Password|Someone has requested a link to change your password. You can do this through the link below.') %></p>

<p><%= link_to _('Mailer|Reset Password|Change my password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= _('Mailer|Reset Password|If you didn\'t request this, please ignore this email.') %></p>
<p><%= _('Mailer|Reset Password|Your password won\'t change until you access the link above and create a new one.') %></p>
