= simple_form_for op.order, url: shop_checkout_set_address_path(id: op.order.id), remote: true do |f|
  - current_user.user_addresses.in_groups_of(3).each do |group|
    .row.gx-0.mb-3
      - group.each do |user_address|
        - next if user_address.nil?
        .col-md-4.p-1
          .border.p-3.bg-light
            = "#{user_address.first_name} #{user_address.last_name}"
            %br
            = user_address.street
            %br
            = "#{user_address.zip_code} #{user_address.city}"
            .form-check.mt-2
              = radio_button_tag :selected_address_id, user_address.id, false, class: 'form-check-input radio_buttons'
              = f.label :selected_address_id, _('Checkout|Use this address'), for: "selected_address_id_#{user_address.id}"
  .ps-1
    = f.save _('Order|Set address')