.card.mb-3
  = simple_form_for op.order, url: shop_checkout_set_address_path(id: op.order.id), remote: true do |f|
    .card-header
      = _('Checkout|Add your shipping address')
    .card-body.pb-0
      .row
        .col-md-6
          = f.input :billing_address_first_name
        .col-md-6
          = f.input :billing_address_last_name
      = f.input :billing_address_street
      .row
        .col-md-4
          = f.input :billing_address_zip_code
        .col-md-8
          = f.input :billing_address_city
    .card-footer
      = f.save _('Order|Set address'), class: %i[btn-default]
