= turbo_stream.update 'address' do
  = render partial: 'address_form'

- if model.address_present?
  - if AppConfig.enable_terms_and_conditions
    = turbo_stream.update 'terms_and_conditions' do
      = render partial: 'terms_and_conditions_form'
    = turbo_stream.update 'payment_gateways'
  - else
    = turbo_stream.update 'payment_gateways' do
      = render partial: 'payment_gateways'
