- provide :shop_page_title, _('Checkout')
= render partial: 'shop/shared/header'

.card
  .card-body
    = op.order.order_items.count
    %br
    - op.order.order_items.each do |order_item|
      = order_item.product_variant&.name.presence || 'NIL'
      \|
      = order_item.product_variant&.id
      %br
    %hr
    - Rails.application.config.payment_gateways.each do |gateway|
      %p.mb-3
        = gateway.name
        %br
        = button 'Pay', gateway.payment_path(order_id: op.order.encrypted_base64_id), html: { data: { turbo: 'false' } }
