- provide :shop_page_title, _('Checkout')
= render partial: 'shop/shared/header'

.row
  .col-lg-9.mb-3
    .card.mb-3
      .card-header
        = _('Checkout|Your items')
      = turbo_frame_tag 'promotion_codes_table' do
        = render partial: 'order_items', locals: { op: op }

    - if op.order.requires_address?
      = turbo_frame_tag 'address' do
        = render partial: 'address_form'
      = turbo_frame_tag 'terms_and_conditions'
    - elsif AppConfig.enable_terms_and_conditions
      = turbo_frame_tag 'terms_and_conditions' do
        = render partial: 'terms_and_conditions_form'

  .col-lg-3
    .card.mb-3
      .card-header
        = _('Checkout|Promotion codes')
      .card-body
        .d-grid
          = turbo_frame_tag 'promotion_codes_errors'
          = turbo_frame_tag 'promotion_codes_form' do
            = render partial: 'promotion_codes_form'
    -# If we need an address of the user needs to accept the GTCs,
    -# we simply render an empty frame. If both are not required,
    -# we can directly render the buttons to the payment gateways
    - if op.order.requires_address? || AppConfig.enable_terms_and_conditions
      = turbo_frame_tag 'payment_gateways'
    - else
      = turbo_frame_tag 'payment_gateways' do
        = render partial: 'payment_gateways'
