- provide :shop_page_title, _('Checkout')
= render partial: 'shop/shared/header'

.card
  .card-body
    = op.order.id
    %hr
    = turbo_frame_tag 'promotion_codes_table' do
      = render partial: 'order_items', locals: { op: op }
    = turbo_frame_tag 'promotion_codes_errors'
    = turbo_frame_tag 'promotion_codes_form' do
      = render partial: 'promotion_codes_form'
    %hr
    - if current_user.user_addresses.any?
      = turbo_frame_tag 'address' do
        = render partial: 'address_form'
    - else
      .alert.alert-warning
        = _('Checkout|Please add an address to your user profile')
        = link_to _('Checkout|Click here to add an address'), settings_user_addresses_path, class: 'alert-link'
