- provide :page_title, _('Admin|Users|Edit user')

.card
  .card-body
    = simple_form_for model, url: admin_user_path(model), remote: false do |f|
      = f.input :username
      = f.input :email
      = f.input :password
      = f.input :avatar
      - if model.avatar.present?
        = image_tag model.thumb_avatar
      %hr
      = f.input :website
      = f.save