- provide :page_title, _('Admin|Users|Edit user')

.card
  = simple_form_for model, url: admin_user_path(model), wrapper: :input_group do |f|
    .card-body
      %h4= _('User|General Settings')
      = f.input :username
      = f.input :email
      = f.password :password, placeholder: _('Settings|Password|Leave blank to keep current password')
      = f.input :avatar
      - if model.avatar.present?
        = image_tag model.thumb_avatar
      = f.input :website
      %hr
      %h4= _('User|Permissions')
      - User::PERMISSION_FIELDS.each do |field|
        = f.input field, input_html: { class: 'no-validation' }
    .card-footer
      = f.save