%h3= _('Users')

= new_button User, namespace: %i[admin]

%hr

%table{class: 'table table-striped'}
  - op.users.each do |u|
    %tr
      %td= u.id
      %td= u.email
      %td
        = show_button u, namespace: %i[admin], disabled: true, size: :sm, icon_only: true
        = edit_button u, namespace: %i[admin], disabled: true, size: :sm, icon_only: true
        = delete_button u, namespace: %i[admin], disabled: true, size: :sm, icon_only: true
