%h3= _('Users')

= new_button User, namespace: %i[admin]

= button 'Users', root_path, btn_icon: %i[fa fa-user]

%hr

%table{class: 'table table-striped'}
  - op.users.each do |u|
    %tr
      %td= u.id
      %td= u.email
      %td
        = show_button u, namespace: %i[admin], size: :sm, icon_only: true
        = edit_button u, namespace: %i[admin], size: :sm, icon_only: true
        = delete_button u, namespace: %i[admin], size: :sm, icon_only: true, disabled: u == current_user
