- provide :page_title, _('Admin|Users|Create user')

.card
  .card-body
    = simple_form_for model, url: admin_users_path do |f|
      = f.input :username
      = f.input :email
      = f.input :password
      %hr
      = f.input :avatar
      - if model.avatar.present?
        = image_tag model.thumb_avatar
      %hr
      = f.input :website
      = f.save