.card
  = simple_form_for model, url: admin_users_path, wrapper: :input_group do |f|
    .card-body
      = f.input :username
      = f.input :email
      = f.password :password
      %hr
      = f.input :avatar
      - if model.avatar.present?
        = image_tag model.avatar.variant(:thumb).processed
      %hr
      = f.input :website
    .card-footer
      = f.save
