- if op.respond_to?(:removed_seat_id) || op.respond_to?(:taken_seat)
  %div{ data: { controller: 'seatmap-mutations' } }
    - if op.respond_to?(:removed_seat_id)
      #removed-seat{ data: { id: op.removed_seat_id } }

    - if op.respond_to?(:taken_seat)
      #taken-seat{ data: { id: op.taken_seat.id } }

%div{ data: { 'seatmap-target' => 'tickets' } }
  - if op.available_tickets.none?
    = _('Seatmap|You don\'t have any tickets for this event')
  - else
    - op.available_tickets.order(:id).each do |ticket|
      .d-flex.align-items-center.ticket-container.mb-2.justify-content-between{ data: { seat_category_id: ticket.seat_category_id, ticket_id: ticket.id } }
        .d-flex.align-items-center.min-width-0
          .me-2
            -# haml-lint:disable InlineStyles
            .badge.seat-id-badge{ style: "background-color: #{ticket.seat_category.color_for_view}; color: #{ticket.seat_category.font_color_for_view};",
                                data: { seat_id: ticket.seat&.id, action: 'click->seatmap#highlightSeatOfBadge', 'bs-toggle': :tooltip, 'bs-placement': :left },
                                title: ticket.product_variant_name.presence || '-' }
              = ticket.seat&.name_or_id.presence || '&nbsp;'.html_safe
            -# haml-lint:enable InlineStyles
          .ticket-username
            - if ticket.assignee.present? || ticket.checked_in?
              = link_to ticket.assignee, target: :_blank, rel: :noopener do
                = icon %i[fas fa-arrow-up-right-from-square]
                = ticket.assignee.username
            - else
              .text-muted= _('Seatmap|Unassigned ticket')
        .ms-2
          - if ticket.checked_in?
            .btn.btn-secondary.btn-sm.disabled.text-nowrap
              = _('SeatMap|User checked in')
          - else
            = render partial: 'lan/seatmap/ticket_seat_actions', locals: { ticket: ticket }
