- provide :page_title, _('Seatmap')

- if user_signed_in? && op.available_tickets.any?(&:created?)
  .alert.alert-warning
    -# rubocop:disable Rails/OutputSafety
    = _('SeatMap|You have unassigned tickets, %{link} to assign your tickets!').html_safe % { link: link_to(_('Click here'), lan_tickets_path(op.lan_party)) }
    -# rubocop:enable Rails/OutputSafety

.row{ data: { controller: 'seatmap' } }
  .col-xl-8.mb-3.mb-xl-0{ data: { 'seatmap-target' => 'mainColumn' } }
    .card
      .card-header.d-flex.align-items-center.py-1.justify-content-between
        = _('Seatmap')
        .d-flex.gap-2
          = button _('Seatmap|Reset zoom & position'),
                   nil,
                   btn_icon: %i[fas fa-bars],
                   color:    :default,
                   html:     { data: { action: 'click->seatmap#resetZoomAndPosition' } },
                   size:     :sm
          .d-none.d-xl-block
            = button _('Seatmap|Toggle sidebar'),
                     nil,
                     btn_icon: %i[fas fa-bars],
                     color:    :default,
                     html:     { data: { 'seatmap-target' => 'sidebarToggle' } },
                     size:     :sm
      .d-flex.justify-content-center
        .frontend-seatmap#seatmap-container{ data: { 'seatmap-target' => 'container', seatmap_data: op.seat_map_data } }

  .col-xl-4.align-self-start.seatmap-sidebar{ data: { 'seatmap-target' => 'sidebar' } }
    - if user_signed_in?
      = turbo_frame_tag :user_ticket do
        = render partial: 'lan/seatmap/user_ticket'

      .card.mb-3
        .card-header
          = _('Seatmap|Your available tickets')
        .card-body
          = turbo_frame_tag :tickets do
            = render partial: 'tickets', locals: { tickets: op.available_tickets }
        .card-footer
          = button _('Tickets|Assign & upgrade tickets'), lan_tickets_path(op.lan_party), size: :sm, color: :default
    .card.mb-3
      .card-header
        = _('Seatmap|Selected seat')
      .card-body
        #current-selected-seat{ data: { 'seatmap-target' => 'currentSelectedSeatInfo' } }
          = _('Seatmap|Please select a seat')
    .card
      .card-header
        = _('Seatmap|Seat categories')
      .card-body
        - op.lan_party.seat_categories.each do |category|
          .d-flex.align-items-center.mb-2
            -# haml-lint:disable InlineStyles
            .me-2.badge.seat-id-badge{ style: "background-color: #{category.color_for_view};" }
              &nbsp;
            = category.name
            -# haml-lint:enable InlineStyles
        .d-flex.align-items-center
          .me-2.badge.seat-id-badge.taken
            &nbsp;
          = _('Seatmap|Taken seat')
