.card
  = simple_form_for model, url: admin_menu_item_path(model) do |f|
    .card-body
      .row
        .col-md-12
          = f.input :title
      .row
        .col-md-6
          = f.input :sort
        .col-md-6
          - if model.is_a? MenuLinkItem
            = f.input :parent_id, as: :select, collection: op.parent_candidates, include_blank: _('Form|Select|Blank')
          - else
            = f.input :visible, input_html: { class: 'no-validation' }, as: :select, include_blank: false
      - if model.is_a? MenuLinkItem
        = f.input :use_namespace_for_active_detection, input_html: { class: 'no-validation' }
        .row
          .col-md-6
            = f.input :page_attr, as: :select,
                                  collection: op.page_candidates,
                                  include_blank: _('Form|Select|Blank'),
                                  wrapper_html: { style: 'margin-bottom: 0 !important;' }
            = f.hint _('Admin|MenuLinkItem|Either select a page or enter a link hint')
          .col-md-6
            = f.input :external_link, wrapper_html: { style: 'margin-bottom: 0 !important;' }
            = f.hint _('Admin|MenuLinkItem|Either select a page or enter a link hint')
    .card-footer
      = f.save