- content_for :header_buttons do
  = new_button MenuLinkItem, namespace: %i[admin], href: new_link_admin_menu_items_path
  = new_button MenuDropdownItem, namespace: %i[admin], href: new_dropdown_admin_menu_items_path

.card
  .card-body
    .table-responsive
      %table.table.datagrid.table-hover
        %tr
          %th= _('MenuItem|Title_en')
          %th= _('MenuItem|Title_de')
          %th= _('MenuItem|Type')
          %th= _('MenuItem|Visible')
          %th= _('MenuItem|Use namespace for active detection')
          %th= _('MenuItem|Page_name')
          %th
        - op.top_items.each do |top_item|
          %tr
            %td= top_item.title_en
            %td= top_item.title_de
            %td= top_item.class
            %td= format_boolean(top_item.visible)
            %td= format_boolean(top_item.use_namespace_for_active_detection)
            %td
              - if top_item.is_a? MenuLinkItem
                = top_item.linked_page_name
              - else
                \-
            %td.datagrid-actions
              .datagrid-actions-wrapper
                = edit_button(top_item, href: edit_admin_menu_item_path(top_item), size: :sm, icon_only: true)
                = delete_button(top_item, href: admin_menu_item_path(top_item), size: :sm, icon_only: true)
            - if top_item.is_a? MenuDropdownItem
              - top_item.children.order(:sort).each do |child_item|
                %tr.bg-light
                  %td{style: 'text-indent: 2em;'}= child_item.title_en
                  %td{style: 'text-indent: 2em;'}= child_item.title_de
                  %td= child_item.class
                  %td= format_boolean(child_item.visible)
                  %td= format_boolean(child_item.use_namespace_for_active_detection)
                  %td= child_item.linked_page_name
                  %td.datagrid-actions
                    .datagrid-actions-wrapper
                      = edit_button(child_item, href: edit_admin_menu_item_path(child_item), size: :sm, icon_only: true)
                      = delete_button(child_item, href: admin_menu_item_path(child_item), size: :sm, icon_only: true)
