.card
  = simple_form_for model, url: new_dropdown_admin_menu_items_path do |f|
    .card-body
      = f.input :title_en
      = f.input :title_de
      = f.input :sort
      = f.input :visible, input_html: { class: 'no-validation' }
    .card-footer
      = f.save