.row
  .col-md-6.mb-3
    .card.mb-3
      .card-header
        = _('Admin|System|L4N Details')
      .card-body
        = _('Admin|System|Running L4N Version %{l4n_version}') % { l4n_version: L4N::VERSION }
    .card
      .card-header
        = _('Admin|System|Cache')
      .card-body
        = op.cache_space_usage
      .card-footer
        = button _('Admin|Cache|Cleanup cache now'), admin_system_cleanup_cache_path,
                                                     size: :sm,
                                                     btn_icon: %i[fas fa-snowplow],
                                                     method: :post
  .col-md-6.mb-3
    .card
      .card-header
        = _('Admin|System|Changelog')
      .card-body.changelog-card-body
        = markdown op.changelog
