.d-flex.justify-content-center.align-items-center.sessions-page
  .card
    = simple_form_for resource, as: resource_name,
                                    url: session_path(resource_name),
                                    html: { data: { turbo: false} },
                                    wrapper: :input_group do |f|
      .card-header.text-center
        %a.h1{href: root_path}
          = L4n::Application.config.application_name
      .card-body.pb-1
        = f.input :name, label: false, placeholder: _('ScannerUser|Name'), input_html: { class: 'no-validation' }
        = f.password :password, label: false, placeholder: _('ScannerUser|Password'), input_html: { class: 'no-validation' }
      .card-footer
        .d-grid.gap-3
          = f.save _('Session|Log in')
          = button _('Session|Back to application'), root_path, color: :secondary
