%div
  - if current_user
    = current_user.email
    = link_to _('User|Logout'), logout_path, method: :delete
  - else
    = link_to _('User|Login'), login_path
    = link_to _('User|Sign up'), new_user_path

%div
  = link_to _('Homepage'), root_path
  \|
  = link_to _('NewsPosts'), news_posts_path
  \|
  = link_to _('Admin Panel'), admin_path
%hr