!!!
%html{ lang: FastGettext.locale, 'data-bs-theme' => color_theme }
  %head
    -# This is put here such that it runs as soon as possible, to avoid a flash of unstyled content
    :javascript
      if (document.documentElement.dataset['bsTheme'] === 'auto') {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.setAttribute('data-bs-theme', 'dark')
        } else {
          document.documentElement.setAttribute('data-bs-theme', 'light')
        }
      }

    %title= admin_page_title
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', 'data-turbo-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbo-track': 'reload', defer: true
    = render partial: 'layouts/shared/favicon'
  %body.d-flex
    = flash_messages
    = render partial: 'layouts/admin/sidebar'
    .main.d-flex.w-100.overflow-hidden
      .header.d-block.d-md-flex.justify-content-between
        .page-title
          %h1= breadcrumbs_on_rails.last.name
          .breadcrumbs= render_breadcrumbs tag: :span, separator: '<span class="breadcrumb-seperator">-</span>'
        - if content_for? :header_buttons
          .mt-3.mt-md-auto
            = yield :header_buttons
      .content
        = yield
      = render partial: 'layouts/admin/footer'
