!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n Admin
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body.d-flex
    = flash_messages
    = render partial: 'layouts/admin/sidebar'
    .main.d-flex.w-100
      .header
        .page-title
          %h1= breadcrumbs_on_rails.last.name # yield :page_title
          .breadcrumbs= render_breadcrumbs tag: :span, separator: '<span class="breadcrumb-seperator">-</span>'
      .content
        = yield
      = render partial: 'layouts/admin/footer'
