!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n Admin
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_pack_tag 'admin'
  %body.hold-transition.sidebar-mini.layout-fixed.layout-navbar-fixed{ "data-scrollbar-auto-hide" => "n", class: dark_mode_class }
    .wrapper
      = render partial: "layouts/admin/header"
      = render partial: "layouts/admin/sidebar"
      = flash_messages
      .content-wrapper
        .content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                %h1.m-0.text-dark= yield :page_title
              / /.col
              -# .col-sm-6
              -#   %ol.breadcrumb.float-sm-right
              -#     %li.breadcrumb-item
              -#       %a{:href => "#"} Home
              -#     %li.breadcrumb-item.active Starter Page
              / /.col
            / /.row
          / /.container-fluid
        .content.container-fluid
          .container-fluid
            = yield
      = render partial: "layouts/admin/footer"
