!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n Admin
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload'
  %body
    -# = render partial: "layouts/admin/header"
    %main.d-flex
      = render partial: 'layouts/admin/sidebar'
      .content
        = yield

      -# = flash_messages
      -# .content-wrapper
      -#   .content-header
      -#     .container-fluid
      -#       .row.mb-2
      -#         .col-sm-6
      -#           %h1.m-0= yield :page_title
      -#         / /.col
      -#         .col-sm-6
      -#           %ol.breadcrumb.float-sm-right
      -#             = render_breadcrumbs tag: :li, separator: "&nbsp;/&nbsp;"
      -#         / /.col
      -#       / /.row
      -#     / /.container-fluid
      -#   .content.container-fluid
      -#     .container-fluid
      -#       = yield
      -# = render partial: "layouts/admin/footer"
