!!!
%html{lang: FastGettext.locale}
  %head
    %title= page_title
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    %style
      = ::StylingVariable.generate_css
  %body.d-flex.application
    = render partial: 'layouts/application/header'
    = render partial: 'layouts/shared/flashes'
    .main.container.mb-5
      - if content_for?(:page_title)
        .page-title.mb-3
          %h1= yield :page_title
      .content
        - if @use_sidebar_layout
          .row
            .col-md-8.mb-3.mb-md-0
              = yield
            .col-md-4
              = render partial: 'shared/sidebar'
        - else
          = yield
    = render partial: 'layouts/application/footer'
