!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body.d-flex.application
    = render partial: 'layouts/application/header'
    = render partial: 'layouts/shared/flashes'
    .main.container
      - if content_for?(:page_title)
        .page-title
          %h1= yield :page_title
      .content
        = yield
    = render partial: 'layouts/application/footer'
