!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body.layout-top-nav{class: body_classes}
    .wrapper
      = render partial: 'layouts/application/header'
      = flash_messages
      .content-wrapper
        .content-header
          .container-xl
            .row.mb-2
              .col-sm-6
                %h1.m-0= yield :page_title
              .col-sm-6
                %ol.breadcrumb.float-sm-right
                  = render_breadcrumbs tag: :li, separator: "&nbsp;/&nbsp;"
        .content.container-fluid
          .container-xl
            = yield
      = render partial: 'layouts/application/footer'
