!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    = flash_messages
    = render partial: 'layouts/header'
    = yield