!!!
%html{ lang: FastGettext.locale, 'data-bs-theme' => color_theme }
  %head
    -# This is put here such that it runs as soon as possible, to avoid a flash of unstyled content
    :javascript
      if (document.documentElement.dataset['bsTheme'] === 'auto') {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.setAttribute('data-bs-theme', 'dark')
        } else {
          document.documentElement.setAttribute('data-bs-theme', 'light')
        }
      }

    %title= page_title
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
    = render partial: 'layouts/shared/favicon'
    %style
      = StylingVariable.generate_css
  %body.d-flex.application
    = render partial: 'layouts/application/header'
    = render partial: 'layouts/shared/flashes'
    .main.container.mb-5
      - if content_for?(:page_title)
        .page-title.mb-3
          %h1= yield :page_title
      .content
        - if @use_sidebar_layout
          .row
            .col-md-8.mb-3.mb-md-0
              = yield
            .col-md-4
              = render partial: 'shared/sidebar'
        - else
          = yield
    = render partial: 'layouts/application/footer'

    = turbo_frame_tag 'remote_modal', target: '_top'
