!!!
%html{lang: FastGettext.locale}
  %head
    %title L4n
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body
    = render partial: 'layouts/shared/flashes'
    = yield