.d-flex.justify-content-between.align-items-center.mb-3
  %h1
    = yield(:shop_page_title).presence || _('Shop')
  %ul.nav.justify-content-end.shop-topnav
    %li.nav-item
      = link_to _('Shop'), shop_path, class: 'nav-link'
    - if current_user
      %li.nav-item
        = link_to _('Orders|My Orders'), shop_orders_path, class: 'nav-link'
      %li.nav-item
        = link_to shop_cart_path, class: 'nav-link' do
          %span.fa-layers.fa-fw.fa-xl
            = icon %i[fas fa-cart-shopping]
            %span.fa-layers-counter.custom-counter
              = current_cart.item_count
