= simple_form_for [:settings, model] do |f|
  .row
    .col-md-6
      = f.input :first_name
    .col-md-6
      = f.input :last_name
  = f.input :street
  .row
    .col-md-4
      = f.input :zip_code
    .col-md-8
      = f.input :city
  = f.save