.card
  = simple_form_for application, url: doorkeeper_submit_path(application),
                                 as: :doorkeeper_application,
                                 html: { data: { turbo: false} } do |f|
    .card-body
      = f.input :name
      = f.input :redirect_uri, wrapper_html: { style: 'margin-bottom: 0 !important;' }
      = f.hint t('doorkeeper.applications.help.redirect_uri')
      = f.input :confidential, input_html: { class: 'no-validation' }, wrapper_html: { class: 'mt-3', style: 'margin-bottom: 0 !important;' }
      = f.hint t('doorkeeper.applications.help.confidential')
      .row
        .col-md-6
          = f.input :scopes, wrapper_html: { class: 'mt-3', style: 'margin-bottom: 0 !important;' }
          = f.hint t('doorkeeper.applications.help.scopes')
        .col-md-6.mt-3
          = f.label _('Admin|Oauth|Available scopes')
          %br
          - L4N_OAUTH_SCOPES.each do |key, value|
            %code= key
            .text-muted= value[:admin_description]
    .card-footer
      = f.save